.alert-wrap {
  z-index: 99999;
  width: 100%;
  text-align: center;

  position: fixed;
  top: 3px;
  height: 2rem;
  padding-bottom: 2px;
  pointer-events: none; // not blocking mouse events to the content behind

  transform: translateY(-120%);
  transition: transform 500ms;

  .alert {
    @extend .pl2, .pr1, .pys;
    font-size: $font-size;

    pointer-events: all; // highlightable and dismissible
    width: max-content;
    max-width: 80%;
    border-radius: 1px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    @include color(#333);
    @include bg(#ffe4b5);

    &.alert-danger, &.alert-error {
      @include bg(#f79e9e);
    }
  }

  &.alert-sticky {
    position: sticky;
    margin-top: -2rem;
  }
  &.alert-displayed {
    transform: translateY(0%);
  }
  &.alert-removed {
    transform: translateY(-120%);
  }

  button.close {
    padding: 0 rem(8px);
    margin-top: rem(1px);
    margin-left: rem(16px);
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
  }
}
