table.diff {
  $border-color: #bbc;
  $lnum: #886;
  $lnum-bg: #eed;
  $header-footer: #efefef;
  $bg-empty: #ddd;
  $bg-replace: #fd8;
  $bg-delete: #e99;
  $bg-insert: #9e9;
  $skip-border: #aaa;

  border-collapse: collapse;
  border: 1px solid darkgray;
  white-space: pre-wrap;

  tbody {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;

    th {
      background: $lnum-bg;
      border: 1px solid $border-color;
      color: $lnum;
      padding: 0.3em 0.5em 0.1em 2em;
      text-align: right;
      vertical-align: top;
    }
    td {
      padding: 0 0.4em;
      padding-top: 0.4em;
      vertical-align: top;
    }
  }

  thead {
    font-size: 80%;
    border-bottom: 1px solid $border-color;
    background: $header-footer;
  }

  .empty { background-color: $bg-empty; }
  .replace { background-color: $bg-replace; }
  .delete { background-color: $bg-delete; }
  .skip {
    background-color: $header-footer;
    border: 1px solid $skip-border;
    border-right: 1px solid $border-color;
  }
  .insert {
    background-color: $bg-insert;
  }

  th.author {
    text-align: right;
    border-top: 1px solid $border-color;
    background: $header-footer;
  }
}
