// devbase: ensure=always
@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: normal;
  src: local('DejaVu Sans'), url('static/fonts/DejaVuSans.woff') format('woff');
}
@font-face {
  font-family:"DejaVu Sans Bold";
  src: local('DejaVu Sans Bold'), url("DejaVuSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// colors
$dark-bg: #f4f4f4;
$light-inner-border: #e4e4e4;
$row-hover-bg: #c9e8ac;

* {
  box-sizing: border-box;
  margin-block-start: unset;
  margin-block-end: unset;
}

html,
body { margin: 0; }

@function rem($px) {
  @return $px / 16px * 1rem;
}
@function em($px) {
  @return $px / 16px * 1em;
}
b { font-weight: 700; }

/* width */
::-webkit-scrollbar { width: rem(8px); }
/* Track */
::-webkit-scrollbar-track { background: transparent; }
/* Handle */
::-webkit-scrollbar-thumb { background: #aaa; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #888; }

$mobileBP: 992px;
@mixin mobile() {
  @media (max-width: $mobileBP) { @content; }
}
@mixin desktop() {
  @media (min-width: $mobileBP) { @content; }
}
@mixin desktop-lg() {
  @media (min-width: 1300px) { @content; }
}

// test: new set of media query
@mixin w1280() {
  @media (min-width: 1280px) { @content; }
}
@mixin w1440() {
  @media (min-width: 1440px) { @content; }
}

@mixin animate ($animation, $duration: 300ms, $delay: 0ms, $direction: normal, $fillmode: both) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
}

@mixin darkmode() {
  $parent: #{&};
  @at-root {
    .dark-mode {
      #{$parent} { @content; }
    }
  }
}

body {
  b, .bold {
    font-family:
      'DejaVu Sans Bold',
      system-ui,
      -apple-system,
      sans-serif,
      // 'MHeiHK',
      'Microsoft JhengHei',
      'FZLanTingHei-L-GBK',
      'Noto Sans CJK TC',
      'PingFang HK',
      'Adobe Heiti Std',
      'LiHei Pro';
  }
}

@include mobile {
  .only-desktop { display: none !important; }
}
@include desktop {
  .only-mobile { display: none !important; }
}

// utility classes
@mixin utility-classes($s) {
  html.oyh#{$s}, body.oyh#{$s} { overflow-y: hidden; }
  html.oya#{$s}, body.oya#{$s} { overflow-y: auto; }

  body {
    .hidden#{$s} { display: none !important; }
    .w100#{$s} { width: 100%; }
    .h100#{$s} { height: 100%; }
    .h100vh#{$s} { height: 100vh; height: 100svh; }
    .upcase#{$s} { text-transform: uppercase; }
    .tcenter#{$s} { text-align: center; }
    .tleft#{$s} { text-align: left; }
    .tright#{$s} { text-align: right; }
    .dnone#{$s} { display: none; }
    .dblock#{$s} { display: block; }
    .diblock#{$s} { display: inline-block; }
    .dgrid#{$s} { display: grid; }
    .digrid#{$s} { display: inline-grid; }
    .flex1#{$s} { flex: 1; }
    .fwnormal#{$s} { font-weight: normal; }
    .relative#{$s} { position: relative; }
    .absolute#{$s} { position: absolute; }
    .oxh#{$s} { overflow-x: hidden; }
    .oyh#{$s} { overflow-y: hidden; }
    .oxa#{$s} { overflow-x: auto; }
    .oya#{$s} { overflow-y: auto; }
    .grid#{$s} { display: grid; }
    .cpointer#{$s} { cursor: pointer; }
    .italic#{$s} { font-style: italic; }
    .pen#{$s} { pointer-events: none; }
    .pea#{$s} { pointer-events: all; }
    .hidden#{$s} { display: none !important; }
    .m0u#{$s} { margin: 0 auto; }
    .wspw#{$s} { white-space: pre-wrap; }
    .wsnw#{$s} { white-space: nowrap; }
    @for $i from 1 through 10 {
      .col#{$i}#{$s} { grid-column: $i; }
    }
    @for $i from 2 through 10 {
      .span#{$i}#{$s} { grid-column: span $i; }
    }

    @for $i from 100 through 1500 {
      @if $i % 100 == 0 {
        .m0u#{$i}#{$s} { margin: 0 auto;
          max-width: $i * 1px; }
      }
    }
    @for $i from 50 through 200 {
      @if $i % 5 == 0 {
        .fs#{$i}p#{$s} { font-size: $i / 100 * 1em; }
      }
    }
    @each $yPos in top, bottom {
      @each $xPos in left, right {
        .abs-#{$yPos}-#{$xPos}#{$s} {
          position: absolute;
          #{$yPos}: 0;
          #{$xPos}: 0;
        }
      }
    }

    $justifyContent: (jc: center, jse: space-evenly, jsb: space-between, jfs: flex-start, jfe: flex-end);
    $alignItems: (ac: center, as: stretch, ab: baseline, afs: flex-start, afe: flex-end);
    @each $jcCode, $jcValue in $justifyContent {
      @each $aiCode, $aiValue in $alignItems {
        .flex-r-#{$jcCode}-#{$aiCode}#{$s} {
          display: flex;
          flex-direction: row;
          justify-content: $jcValue;
          align-items: $aiValue;
        }
        .flex-c-#{$jcCode}-#{$aiCode}#{$s} {
          display: flex;
          flex-direction: column;
          justify-content: $jcValue;
          align-items: $aiValue;
        }
      }
    }
  }
}

@include utility-classes("");

@include desktop {
  @include utility-classes("-desktop");
}

@include mobile {
  @include utility-classes("-mobile");
}

@mixin declare-margin-and-padding($suffix, $i, $val) {
  body {
    $class: #{$i}#{$suffix};
    .m#{$class} { margin: $val; }
    .mx#{$class} { margin-left: $val;
      margin-right: $val; }
    .my#{$class} { margin-top: $val;
      margin-bottom: $val; }
    .mt#{$class} { margin-top: $val; }
    .mb#{$class} { margin-bottom: $val; }
    .ml#{$class} { margin-left: $val; }
    .mr#{$class} { margin-right: $val; }
    .p#{$class} { padding: $val; }
    .px#{$class} { padding-left: $val;
      padding-right: $val; }
    .py#{$class} { padding-top: $val;
      padding-bottom: $val; }
    .pt#{$class} { padding-top: $val; }
    .pb#{$class} { padding-bottom: $val; }
    .pl#{$class} { padding-left: $val; }
    .pr#{$class} { padding-right: $val; }
    .gx#{$class} { grid-column-gap: $val; }
    .gy#{$class} { grid-row-gap: $val; }
  }
}
@for $i from 0 through 20 {
  @include declare-margin-and-padding('', $i, $i * rem(8px));
  @include desktop {
    @include declare-margin-and-padding('-desktop', $i, $i * rem(8px));
  }
  @include mobile {
    @include declare-margin-and-padding('-mobile', $i, $i * rem(8px));
  }
}
@include declare-margin-and-padding('', 's', rem(4px));
@include desktop {
  @include declare-margin-and-padding('-desktop', 's', rem(4px));
}
@include mobile {
  @include declare-margin-and-padding('-mobile', 's', rem(4px));
}


.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


%noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

%canselect {
  -webkit-touch-callout: text;
  user-select: text;
}

// convenient mixin for BEM
//elements get appended with "__" and the $name
@mixin e($name) {
  @at-root #{&}__#{$name} {
    @content;
  }
}
//modifiers get appended with "--" and the $name
@mixin m($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}

@mixin color ($colorlight, $colordark:$colorlight) {
  color: $colorlight;
  fill: $colorlight !important;
  svg { fill: $colorlight; }
  @include darkmode {
    color: $colordark;
    fill: $colordark;
    svg { fill: $colordark; }
  }
}

@mixin bg ($bglight, $bgdark:$bglight) {
  background-color: $bglight;
  @include darkmode {
    background-color: $bgdark;
  }
}

@mixin border ($light, $dark:$light) {
  border-color: $light;
  @include darkmode {
    border-color: $dark;
  }
}

@mixin resp-font-sizes($mobile, $desktop, $desktop-lg) {
  font-size: $desktop;
  @include mobile {
    font-size: $mobile;
  }
  @include desktop-lg {
    font-size: $desktop-lg;
  }
}

@mixin btn-style($fg, $bg) {
  color: $fg;
  background-color: $bg;
  border-color: lighten($bg, 5%);
  box-shadow: 1px 2px 2px rgba(lighten($bg, 5%), 0.5);

  &:hover {
    color: white;
    background-color: lighten($bg, 5%);
  }
}

.nav-item-bg {
  @include bg(lighten($light-inner-border, 5%), #444);
}

.sel-arrow {
  pointer-events: none;
  position: absolute;
  top: 50%;
  margin-top: rem(-9px);
  right: rem(12px);
}

$danger: hsl(0, 86%, 58%);
$primary: #3e3e3e;
$primary-d1: #4e4e4e;
$primary-dark: #e3e3e3;
$font-size: rem(16px);
$font-size-lg: 1rem;
$input-height: rem(38px);
$btn-padding: rem(12px) rem(20px) rem(12px);
$btn-large-padding: rem(12px) rem(20px) rem(12px);

html {
  @include mobile {
    font-size: 100%;
  }
  @include desktop {
    font-size: 80%;
  }
  @include w1280 {
    font-size: 100%;
  }
  @include w1440 {
    font-size: 100%;
  }
}

body {
  font-size: $font-size;
  font-family:
    'DejaVu Sans',
    system-ui,
    -apple-system,
    sans-serif,
    // 'MHeiHK',
    'Microsoft JhengHei',
    'FZLanTingHei-L-GBK',
    'Noto Sans CJK TC',
    'PingFang HK',
    'Adobe Heiti Std',
    'LiHei Pro';
  line-height: 1.3;
}

.light-mode {
  @include color($primary);
  background-color: #ffffff;
  .bg-white { background-color: #ffffff; }
  .bg-gray { background-color: #f9f9f9; }
  .border-gray { border: 1px solid #ccc; }
  .page-shadow {
    box-shadow: 2px 2px 2px #ccc8;
  }
}
.dark-mode {
  @include color($primary-dark);
  background-color: #242424;
  .bg-white { background-color: #242424; }
  .bg-gray { background-color: #1a1a1a; }
  .border-gray { border: 1px solid #555; }
  .page-shadow {
    box-shadow: 2px 2px 2px #111;
  }
}
.bg-lightgray {
  @include bg(#bbb, #555);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  @include color(#222, #eee);
  margin: 0;
  font-weight: normal;
}
h1, .h1 { font-size: rem(26px); }
h2, .h2 { font-size: rem(21px); }
h3, .h3 { font-size: rem(16px); }

.secondary { @include color(#999, #777); }

%button {
  border-radius: rem(2px);
  padding: $btn-padding;
  cursor: pointer;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;
  font-size: $font-size;
  /* stylelint-disable-next-line */
  @extend %noselect;
  @include darkmode {
    box-shadow: 2px 3px 8px #131313;
  }
  &.large {
    padding: $btn-large-padding;
  }
  &:hover {
    text-decoration: none;
  }
  &.disabled {
    color: #bbb !important;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.btn1 {
  @extend %button;
  @include btn-style(white, #333);
}

.btn1-danger {
  @extend %button;
  @include btn-style(white, $danger);
}

.btn2 {
  @extend %button;
  @include color($primary, darken($primary-dark, 10%));
  background-color: transparent;
  box-shadow: none;
  border-color: #ccc;
  &:hover {
    @include color($primary, $primary-dark);
    background-color: #f1f1f1;
    border-color: #999;
  }

  @include darkmode {
    border-color: #666;
    &:hover {
      background-color: lighten($primary, 5%);
    }
  }
}

.btn2-danger {
  @extend %button;
  color: red;
  border-color: red;
  background-color: transparent;
  box-shadow: none;
  @include darkmode {
    color: darken($primary-dark, 10%);

    &:hover {
      color: white;
      background-color: $danger;
    }
  }

  &:hover {
    color: red;
    background-color: lighten($danger, 40%);
  }
}

.btn3 {
  @extend %button;
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  color: $primary;
  @include darkmode {
    color: darken($primary-dark, 10%);

    &:hover {
      color: white;
      background-color: lighten($primary, 10%);
    }
  }

  &:hover {
    color: lighten($primary, 5%);
    background-color: lighten($primary, 50%);
  }
}

a,
.btn4 {
  @extend %noselect;
  @include color(lighten($primary, 15%), darken($primary-dark, 20%));
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  padding: 0;
  text-align: left;
  line-height: unset;
  &:not(:hover) { text-decoration: none; }
  &:focus { outline: 0 none; }

  &:hover,
  &.active,
  &.hideshow-current {
    @include color(darken($primary, 10%), $primary-dark);
    text-decoration: none;
  }
  &.blue {
    @include color(#2c7cb0, #4bb8ff);
    &.ql-active, //quill
    &:hover,
    &.active,
    &.hideshow-current {
      @include color(#f4a15d);
    }
  }
  &.disabled {
    @include color(#bbb, #aaa);
    pointer-events: none;
  }
  &.danger {
    @include color(red);
    &:hover {
      @include color(darken(red, 10%));
    }
  }
}

.prompt-header {
  cursor: pointer;

  &:hover {
    @include bg(#dcdcdc, #444);
  }
}

input,
select,
textarea {
  @extend .bg-white;
  @include color(#555, white);
  font-size: $font-size;
  display: block;
  width: 100%;
  color: #555;
  background-color: white;
  border: 1px solid;
  border-radius: rem(1px);
  @include border(#ddd, #666);
  outline: 0;
  &:focus { border-color: #aaa; }
  &::placeholder {
    color: #bbb;
    opacity: 1;
  }
  /* stylelint-disable-next-line */
  &:-ms-input-placeholder { color: #bbb; }
  /* stylelint-disable-next-line */
  &::-ms-input-placeholder { color: #bbb; }
}
textarea {
  padding: rem(10px) rem(12px);
}


input,
select {
  /* stylelint-disable-next-line */
  -webkit-appearance: none;
  /* stylelint-disable-next-line */
  -moz-appearance: none;
  appearance: none;
  height: $input-height;
  padding: rem(6px) rem(12px);
}

/* firefox */
.scroller {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}
/* webkit */
.scroller::-webkit-scrollbar { width: 4px; }
.scroller::-webkit-scrollbar-track { background: transparent; }
.scroller::-webkit-scrollbar-thumb { background: #aaa; }
.scroller::-webkit-scrollbar-thumb:hover { background: #888; }

.centered-page {
  margin: 0 auto;
  width: 100%;
  max-width: 64rem;
}

$blue: #4099ff;
.color-red { @include color(red); }
.color-orange { @include color(orange); }
.color-green { @include color(green); }
.color-blue { @include color($blue); }
.page-head {
  border-top: 10px solid $blue;
}

form.slow-form.nav-submitting {
  opacity: 0.5;
  pointer-events: none;
}

.block-border {
  border: 1px solid #ccc;
  border-radius: rem(4px);
}
.config-block {
  @extend .block-border;
  overflow: hidden;
  > div:nth-last-of-type(2) {
    border-right: 1px solid #ccc;
  }
  > div:nth-of-type(2) {
    background-color: #f6f6f6;
  }
}

.highlight {
  @extend .px3;
  @extend .py2;
  background-color: moccasin;
}
.minitabs {
  > .btn4 {
    border: 1px solid #999;
    border-left: 0;
    &:first-of-type {
      border-left: 1px solid #999;
    }
    &:hover {
      background-color: #f1f1f1;
    }
    &.active {
      background-color: #e0e0e0;
      pointer-events: none;
    }
  }
}

.gridtable {
  @extend .gy1, .py2;
  background-color: #f5f5f5;
  > div {
    @extend .px2;

    &.header {
      @extend .bold;
      border-bottom: 1px solid #ddd;
      padding-bottom: rem(4px);
    }
  }
}

.info-wrap {
  @extend .border-gray;
  border-radius: 1px;
  @include bg(#f9f9f9, #333);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate {
  animation: rotation 2s infinite linear;
}
