// devbase: ensure=always

.nav-masked {
  transition: opacity 300ms;
  opacity: 0.5;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: progress;
  }
  &:hover {
    cursor: progress;
  }
  &:active {
    pointer-events: none;
  }
}

.nav-base {
  transition: transform 300ms ease-in-out, opacity 150ms ease-in-out;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  .scroll-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &.nav-load {
    pointer-events: none;

    &__forward {
      z-index: 2;

      &:not(.nav-entering) {
        transform: translate(100%, 0);
      }
    }

    &__backward {
      z-index: 0;

      &:not(.nav-entering) {
        transform: translate(-100px, 0);
      }
    }

    &__slide-left {
      &:not(.nav-entering) {
        transform: translate(-100%, 0);
      }
    }

    &__slide-right {
      &:not(.nav-entering) {
        transform: translate(100%, 0);
      }
    }

    &__fade {
      &:not(.nav-entering) {
        opacity: 0;
      }
    }

    &__none {
      transition: unset;
      // &:not(.nav-entering) {
      //   opacity: 0;
      // }
    }
  }

  &.nav-unload {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #111;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
    }

    &__forward {
      transform: translate(-100px, 0);
      &::after { opacity: 0.4; }
    }

    &__backward {
      transform: translate(100%, 0);
      &::after { opacity: 0.4; }
    }

    &__slide-left {
      transform: translate(100%, 0);
      &::after { opacity: 0.2; }
    }

    &__slide-right {
      transform: translate(-100%, 0);
      &::after { opacity: 0.2; }
    }

    &__fade {
      // transition-delay: 70ms;
      // transition-duration: 130ms;
      // opacity: 0;
    }

    &__none {
      transition: unset;
    }
  }
}
