.p-dropdown {
  .btn4 {
    border-radius: 0;
    &:hover {
      @include bg(#f1f1f1, #555);
    }
  }

  .sep {
    @include bg(#eee, red);
  }

  // .bottom-border {
  //   border-bottom: 1px solid #f1f1f1;
  // }

  .dropdown-border {
    border-top: 1px solid;
    @include border(#f1f1f1, #444);
  }
}
