.ssicon-selector {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;

  .pack-name {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
    &:hover { text-decoration: underline; }
  }

  svg {
    width: 20px;
    height: 20px;
    margin: 0.2rem;
    cursor: pointer;
    &:hover { transform: scale(1.2); }
    &.in-use { fill: orange; }
  }
}

