.table-ext {
  $xpad: rem(12px);

  overflow: hidden;

  .table-header {
    padding-left: $xpad;
    padding-right: $xpad;
  }

  .pagination {
    a {
      &[disabled] {
        color: #999;
        cursor: default;
        svg { fill: #999; }

        &:hover {
          cursor: default;
          text-decoration: none;
        }
      }
    }

    svg {
      margin: rem(-3px) rem(3px) 0;
    }
  }

  .grid-table {
    .cell {
      @extend .border-gray;
      border-width: 1px 0 0 0 !important;
      padding: rem(10px) rem(8px);
      overflow: hidden;

      &[data-col='0'] {
        padding-left: $xpad;
      }
      &[data-last] {
        padding-right: $xpad;
      }
      &.highlight-top-border {
        border-top-color: #7575af;
        box-shadow: 0 -1px 0 #7575af, inset 0 1px 0 #7575af;
      }
    }
    [data-row$="1"],
    [data-row$="3"],
    [data-row$="5"],
    [data-row$="7"],
    [data-row$="9"] {
      @include bg(#f9f9f9, #1e1e1e);
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include color(#111, #eee);
      @include bg(#f1f1f1, #444);
      border-top: 0 none;
      height: rem(32px);
      > div:first-of-type { padding-top: rem(2px); }
    }

    .filter-input {
      padding-top: rem(8px);
      padding-bottom: rem(8px);
      input,
      [data-te-select-filter],
      select {
        font-size: rem(13px);
        height: rem(26px);
        padding-top: rem(5px);
        padding-left: rem(6px);
      }
      [data-te-select-filter] {
        border: 1px solid;
        @include border(#ddd, #666);
        cursor: default;
        padding-right: rem(20px);
        white-space: nowrap;
      }
      svg { right: rem(3px) !important; }
      .dummy-input {
        width: 100%;
        height: 100%;
        min-height: rem(26px);
        border: 1px solid;
        @include border(#f3f3f3, #444);
      }
    }

    [data-te-sort] {
      cursor: pointer;

      &:hover {
        @include bg(#ddd, #333);
      }

      .arrows {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        svg {
          fill: #ccc;
        }

        &.asc {
          svg:first-of-type {
            fill: #000;
          }
        }

        &.desc {
          svg:last-of-type {
            fill: #000;
          }
        }
      }
    }

    @media (max-width: 692px) {
      display: block !important;
      .cell[data-col] {
        border-width: 0 !important;
        padding: rem(4px) rem(12px);
        &[data-col="0"] {
          padding-top: rem(16px);
        }
        &[data-last] {
          padding-bottom: rem(16px);
        }
        &::before {
          content: attr(data-field) ":";
          @include color(#999, #777);
        }
      }
      .header, .filter-input {
        display: none !important;
      }
    }
  }
}
