// devbase: ensure=always

// See http://<uid>/tip for usage and examples

$tip-color: #fff;
$tip-bg: #333333f0;
$tip-dark-color: #333;
$tip-dark-bg: #f0f0f0f0;
$arrow-size: 6px;
$offset-when-aligned: 12px;

%tipbase {
  position: relative;

  .tip-content {
    z-index: 1001;
    position: absolute;
    white-space: nowrap;
    color: $tip-color;
    background-color: $tip-bg;
    padding: 0.3rem 0.5rem;
    transition: transform 100ms;
    transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);
    text-align: left;

    &.tip-dark {
      color: $tip-dark-color;
      background-color: $tip-dark-bg;
    }

    &::before {
      content: ' ';
      position: absolute;
    }

    &::after {
      content: ' ';
      position: absolute;
      border-width: $arrow-size;
      border-style: solid;
    }
  }
}

%tiptop {
  @extend %tipbase;

  .tip-content {
    bottom: calc(100% + #{$arrow-size * 2});
    transform: translate(-50%, calc(50% + #{$arrow-size * 2})) scale(0);

    &::before {
      width: 100%;
      left: 0;
      height: $arrow-size * 2;
      bottom: -$arrow-size * 2;
    }

    &::after {
      top: 100%;
      border-color: $tip-bg transparent transparent transparent;
    }

    &.tip-dark::after {
      border-color: $tip-dark-bg transparent transparent transparent;
    }
  }
}

.tip-top {
  @extend %tiptop;

  .tip-content {
    left: 50%;
    transform: translate(-50%, calc(50% + #{$arrow-size * 2})) scale(0);

    &::after {
      margin-left: -$arrow-size;
      left: 50%;
    }
  }

  &:hover .tip-content {
    transform: translate(-50%, 0) scale(1);
  }
}

.tip-top-left {
  @extend %tiptop;

  .tip-content {
    right: 0;
    transform: translate(calc(50% - #{$offset-when-aligned}), calc(50% + #{$arrow-size * 2})) scale(0);

    &::after {
      right: $offset-when-aligned;
      margin-right: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(0, 0) scale(1);
  }
}

.tip-top-right {
  @extend %tiptop;

  .tip-content {
    left: 0;
    transform: translate(calc(-50% + #{$offset-when-aligned}), calc(50% + #{$arrow-size * 2})) scale(0);

    &::after {
      left: $offset-when-aligned;
      margin-left: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(0, 0) scale(1);
  }
}

%tipbottom {
  @extend %tipbase;

  .tip-content {
    top: calc(100% + #{$arrow-size * 2});

    &::before {
      width: 100%;
      left: 0;
      height: $arrow-size * 2;
      top: -$arrow-size * 2;
    }

    &::after {
      bottom: 100%;
      border-color: transparent transparent $tip-bg transparent;
    }

    &.tip-dark::after {
      border-color: transparent transparent $tip-dark-bg transparent;
    }
  }
}

.tip-bottom {
  @extend %tipbottom;

  .tip-content {
    left: 50%;
    transform: translate(-50%, calc(-50% - #{$arrow-size * 2})) scale(0);

    &::after {
      left: 50%;
      margin-left: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(-50%, 0) scale(1);
  }
}

.tip-bottom-left {
  @extend %tipbottom;

  .tip-content {
    right: 0;
    transform: translate(calc(50% - #{$offset-when-aligned}), calc(-50% - #{$arrow-size * 2})) scale(0);

    &::after {
      right: $offset-when-aligned;
      margin-right: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(0, 0) scale(1);
  }
}

.tip-bottom-right {
  @extend %tipbottom;

  .tip-content {
    left: 0;
    transform: translate(calc(-50% + #{$offset-when-aligned}), calc(-50% - #{$arrow-size * 2})) scale(0);

    &::after {
      left: $offset-when-aligned;
      margin-left: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(0, 0) scale(1);
  }
}

%tipleft {
  @extend %tipbase;

  .tip-content {
    right: calc(100% + #{$arrow-size * 2});

    &::before {
      height: 100%;
      top: 0;
      width: $arrow-size * 2;
      right: -$arrow-size * 2;
    }

    &::after {
      left: 100%;
      border-color: transparent transparent transparent $tip-bg;
    }

    &.tip-dark::after {
      border-color: transparent transparent transparent $tip-dark-bg;
    }
  }
}

.tip-left {
  @extend %tipleft;

  .tip-content {
    top: 50%;
    transform: translate(calc(50% + #{$arrow-size * 2}), -50%) scale(0);

    &::after {
      top: 50%;
      margin-top: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(0, -50%) scale(1);
  }
}

.tip-left-top {
  @extend %tipleft;

  .tip-content {
    bottom: 0;
    transform: translate(calc(50% + #{$arrow-size * 2}), calc(50% - #{$offset-when-aligned})) scale(0);

    &::after {
      bottom: $offset-when-aligned;
      margin-bottom: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(0, 0) scale(1);
  }
}

.tip-left-bottom {
  @extend %tipleft;

  .tip-content {
    top: 0;
    transform: translate(calc(50% + #{$arrow-size * 2}), calc(-50% + #{$offset-when-aligned})) scale(0);

    &::after {
      top: $offset-when-aligned;
      margin-top: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(0, 0) scale(1);
  }
}

%tipright {
  @extend %tipbase;

  .tip-content {
    left: calc(100% + #{$arrow-size * 2});

    &::before {
      height: 100%;
      top: 0;
      width: $arrow-size * 2;
      left: -$arrow-size * 2;
    }

    &::after {
      right: 100%;
      border-color: transparent $tip-bg transparent transparent;
    }

    &.tip-dark::after {
      border-color: transparent $tip-dark-bg transparent transparent;
    }
  }

  &:hover .tip-content {
    transform: translate(0, -50%) scale(1);
  }
}

.tip-right {
  @extend %tipright;

  .tip-content {
    top: 50%;
    transform: translate(calc(-50% - #{$arrow-size * 2}), -50%) scale(0);

    &::after {
      top: 50%;
      margin-top: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(0, -50%) scale(1);
  }
}

.tip-right-top {
  @extend %tipright;

  .tip-content {
    bottom: 0;
    transform: translate(calc(-50% - #{$arrow-size * 2}), calc(50% - #{$offset-when-aligned})) scale(0);

    &::after {
      bottom: $offset-when-aligned;
      margin-bottom: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(0, 0) scale(1);
  }
}

.tip-right-bottom {
  @extend %tipright;

  .tip-content {
    top: 0;
    transform: translate(calc(-50% - #{$arrow-size * 2}), calc(-50% + #{$offset-when-aligned})) scale(0);

    &::after {
      top: $offset-when-aligned;
      margin-top: -$arrow-size;
    }
  }

  &:hover .tip-content {
    transform: translate(0, 0) scale(1);
  }
}
