// devbase: ensure=always

$mobileBP: 992px;

@mixin mobile() {
  @media (max-width: $mobileBP) { @content; }
}
@mixin desktop() {
  @media (min-width: $mobileBP) { @content; }
}

@include mobile {
  body.uid-prompt-openned {
    overflow: hidden;
  }

  .hidden-mobile {
    visibility: hidden;
  }
}

.up-backdrop {
  $speed: 200ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 100;
  @include bg(hsla(0, 0%, 27%, 0.2), #00000033);
  transition: opacity $speed;
  transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);

  $blur-level: 2px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur($blur-level);
  -webkit-backdrop-filter: blur($blur-level);

  &.on-hover {
    pointer-events: none;
    > .up-canvas {
      pointer-events: all;
    }
  }

  &.transparent {
    background-color: transparent;
  }

  .up-canvas {
    @extend .bg-white;
    position: absolute;
    display: inline-block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    @include darkmode {
      border: 1px solid #444;
      box-shadow: 0 2px 6px #00000033;
    }
    overflow-y: auto;
    overscroll-behavior-y: contain;
    transition: transform $speed;
    transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);

    @include desktop {
      max-height: 99vh;
    }

    &:not(.always-float) {
      @include mobile {
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
      }
    }
    // &.toward-bottom-left {
    //   transform: translate(0, -30px);
    // }

    &.toward-left {
      transform: translate(50px, 0);
    }

    &.toward-right {
      transform: translate(-50px, 0);
    }
  }

  &.no-animation {
    transition: unset;
  }

  &.displayed {
    opacity: 1;
  }
  &.dismissed { opacity: 0; }
}

