// devbase: ensure=always
input, select {
  margin-bottom: 0 !important;
}

.vf-error {
  border-color: red !important;
}

.vf-hint {
  font-size: 80%;
  right: 4px;
  opacity: 0;
  transition: opacity 300ms;
  color: red;

  &.displayed {
    opacity: 1;
  }

  &.inline {
    position: absolute;
    transform: translate(0, -10px);
    transition: opacity 300ms, transform 300ms;
    &.displayed {
      transform: translate(0, -100%);
    }
  }
  &.blocking {
    margin-top: -4px;
  }
}

