// devbase: ensure=always
// modified from https://projects.lukehaas.me/css-loaders/
$duration: 1.5s;
$ratio: 0.4;
$width: 6px;
$height: $width * 4;

.loader {
  position: fixed !important;
  top: 50%;
  left: 50%;
  margin-top: -$height !important;
  margin-left: -$width / 2 !important;
}

.loader,
.loader::before,
.loader::after {
  background: #353434;
  animation: load1 $duration infinite ease-in-out;
  width: $width;
  height: $height;
}

.loader {
  color: #353434;
  text-indent: -9999em;
  position: relative;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -$duration * 0.16 * $ratio;
}

.loader::before,
.loader::after {
  position: absolute;
  top: 0;
  content: '';
}

.loader::before {
  left: $width * -1.5;
  animation-delay: -$duration * 0.32 * $ratio;
}

.loader::after {
  left: $width * 1.5;
}

@keyframes load1 {
  0%,
  #{$ratio * 0.8 * 100%},
  #{$ratio * 100%} {
    box-shadow: 0 0;
    height: $height;
  }
  #{$ratio * 0.4 * 100%} {
    $bs: -$height / 2;
    box-shadow: 0 $bs;
    height: $height * 1.25;
  }
}
