// devbase: ensure=always

.my-numeral-input {
  position: relative;
  .overlay {
    position: absolute;
    top: 2px;
    left: 5px;
    right: 5px;
    bottom: 2px;
    background-color: white;
    pointer-events: none;
  }
}
