.column-split-handle {
  height: 11px;
  padding: 0;
  cursor: ns-resize;
  flex: 0 0 auto;

  &::before {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    border-top: 1px dashed #eee;
    margin-top: 5px;
  }
  &:hover::before { border-color: #777; }
}

.row-split-handle {
  width: 11px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    border-left: 1px dashed #eee;
    margin-left: 5px;
  }
  &:hover::before { border-color: #777; }
}

.split-handle-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  &.active { display: block; }
}
