include includes

mixin alert(klass, icon)
  .alert.alert-dismissible.fade.show(class=klass)
    i.fa.mr-1(class=icon)
    block
    button.close(type="button", data-dismiss="alert")
      span &times;

mixin flashAlerts()
  each flash in appFlash("info")
    +alert("alert-primary", "fa-info-circle")= __(flash)
  each flash in appFlash("warn")
    +alert("alert-warning", "fa-question-circle")= __(flash)
  each flash in appFlash("error")
    +alert("alert-danger", "fa-exclamation-circle")= __(flash)

doctype html
html
  head
    title= __(title)
    link(rel="icon", type="image/png", href=`${assetsContext}/static/img/logo.png`)
    link(rel='stylesheet', href=`${assetsContext}/vendor.css`)
    link(rel='stylesheet', href=`${assetsContext}/app.css`)
    link(rel='stylesheet', href=`${assetsContext}/global.css`)
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  body(
    data-app-version=appVersion === "dev" ? "dev" : ""
    data-assets-context=assetsContext
    data-csrf-token=csrfToken
    data-lng=i18next.language
  )
    - var asset = (filename) => `${assetsContext}/${filename}`;

    div
      .nav-base
        +flashAlerts()
        +#{mixin}(params)

    // script#facebook-jssdk(src="https://connect.facebook.net/en_US/sdk.js")
    // script(src="https://apis.google.com/js/api:client.js")

    script(type='text/javascript', src=`${assetsContext}/vendor.js`)
    if appVersion === "dev"
      script.
        const scriptLoaded = function() {
          if (window.onerror === null) {
            alert('Unable to load app.js, probably because failed to compile.');
          }
        }
      script(type='text/javascript', src=`${assetsContext}/app.js` onload="scriptLoaded()")
    else
      script(type='text/javascript', src=`${assetsContext}/app.js`)
