// devbase: ensure=always
@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: normal;
  src: local('DejaVu Sans'), asset('static/fonts/DejaVuSans.woff') format('woff');
}

.-uid-preview {
  min-height: 800px;
}

* { box-sizing: border-box;
  margin-block-start: unset;
  margin-block-end: unset; }

html,
body { margin: 0; }

@function rem($px) {
  @return $px / 16px * 1rem;
}
@function em($px) {
  @return $px / 16px * 1em;
}

/* width */
::-webkit-scrollbar { width: rem(8px); }
/* Track */
::-webkit-scrollbar-track { background: transparent; }
/* Handle */
::-webkit-scrollbar-thumb { background: #aaa; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #888; }

$mobileBP: 992px;
@mixin mobile() {
  @media (max-width: $mobileBP) { @content; }
}
@mixin desktop() {
  @media (min-width: $mobileBP) { @content; }
}
@mixin desktop-lg() {
  @media (min-width: 1300px) { @content; }
}
@include mobile {
  .hidden-mobile { display: none !important; }
  .only-desktop { display: none !important; }
}
@include desktop {
  .hidden-desktop { display: none !important; }
  .only-mobile { display: none !important; }
}
@mixin animate ($animation, $duration: 300ms, $delay: 0ms, $direction: normal, $fillmode: both) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
}

// responsive utility classes
@mixin ru($sel) {
  @include mobile {
    .#{$sel}-mobile { @content; }
  }
  @include desktop {
    .#{$sel}-desktop { @content; }
  }
  .#{$sel} { @content; }
}

// utility classes
body {
  @include ru('w100') { width: 100%; }
  @include ru('h100') { height: 100%; }
  @include ru('upcase') { text-transform: uppercase; }
  @include ru('tcenter') { text-align: center; }
  @include ru('tleft') { text-align: left; }
  @include ru('tright') { text-align: right; }
  @include ru('dnone') { display: none; }
  @include ru('dblock') { display: block; }
  @include ru('diblock') { display: inline-block; }
  @include ru('flex1') { flex: 1; }
  @include ru('bold') { font-weight: bold; }
  @include ru('relative') { position: relative; }
  @include ru('oxh') { overflow-x: hidden; }
  @include ru('oyh') { overflow-y: hidden; }
  @include ru('grid') { display: grid; }
  @include ru('igrid') { display: inline-grid; }
  @include ru('cpointer') { cursor: pointer; }
  @include ru('italic') { font-style: italic; }
  @include ru('pen') { pointer-events: none; }
  @include ru('hidden') { display: none !important; }
  @include ru('m0u') { margin: 0 auto; }
  @include ru('ignore-br') {
    > br { display: none; }
  }
  .inactive { pointer-events: none;
    opacity: 0.7; }
  @for $i from 1 through 10 {
    .col#{$i} { grid-column: $i; }
  }

  @for $i from 100 through 1500 {
    @if $i % 100 == 0 {
      .m0u#{$i} { margin: 0 auto;
        max-width: $i * 1px; }
    }
  }
  @for $i from 50 through 150 {
    @if $i % 5 == 0 {
      @include desktop {
        .fs#{$i}p-desktop { font-size: $i * 1%; }
      }
      @include mobile {
        .fs#{$i}p-mobile { font-size: $i * 1%; }
      }
      .fs#{$i}p { font-size: $i * 1%; }
    }
  }
  @each $yPos in [top, bottom] {
    @each $xPos in [left, right] {
      .abs-#{$yPos}-#{$xPos} {
        position: absolute;
        #{$yPos}: 0;
        #{$xPos}: 0;
      }
    }
  }
}

$justifyContent: (jc: center, jsb: space-between, jfs: flex-start, jfe: flex-end);
$alignItems: (ac: center, as: stretch, ab: baseline, afs: flex-start, afe: flex-end);

body {
  @each $jcCode, $jcValue in $justifyContent {
    @each $aiCode, $aiValue in $alignItems {
      @include ru(flex-r-#{$jcCode}-#{$aiCode}) {
        display: flex;
        flex-direction: row;
        justify-content: $jcValue;
        align-items: $aiValue;
      }
      @include ru(flex-c-#{$jcCode}-#{$aiCode}) {
        display: flex;
        flex-direction: column;
        justify-content: $jcValue;
        align-items: $aiValue;
      }
    }
  }
}

@mixin declare-margin-and-padding($suffix, $i, $val) {
  body {
    $class: #{$i}#{$suffix};
    .m#{$class} { margin: $val; }
    .mx#{$class} { margin-left: $val;
      margin-right: $val; }
    .my#{$class} { margin-top: $val;
      margin-bottom: $val; }
    .mt#{$class} { margin-top: $val; }
    .mb#{$class} { margin-bottom: $val; }
    .ml#{$class} { margin-left: $val; }
    .mr#{$class} { margin-right: $val; }
    .p#{$class} { padding: $val; }
    .px#{$class} { padding-left: $val;
      padding-right: $val; }
    .py#{$class} { padding-top: $val;
      padding-bottom: $val; }
    .pt#{$class} { padding-top: $val; }
    .pb#{$class} { padding-bottom: $val; }
    .pl#{$class} { padding-left: $val; }
    .pr#{$class} { padding-right: $val; }
    .gx#{$class} { grid-column-gap: $val; }
    .gy#{$class} { grid-row-gap: $val; }
  }
}
@for $i from 0 through 20 {
  @include declare-margin-and-padding('', $i, $i * rem(8px));
  @include desktop {
    @include declare-margin-and-padding('-desktop', $i, $i * rem(8px));
  }
  @include mobile {
    @include declare-margin-and-padding('-mobile', $i, $i * rem(8px));
  }
}
@include declare-margin-and-padding('', 's', rem(4px));
@include desktop {
  @include declare-margin-and-padding('-desktop', 's', rem(4px));
}
@include mobile {
  @include declare-margin-and-padding('-mobile', 's', rem(4px));
}


%noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

%canselect {
  -webkit-touch-callout: text;
  user-select: text;
}

// convenient mixin for BEM
//elements get appended with "__" and the $name
@mixin e($name) {
  @at-root #{&}__#{$name} {
    @content;
  }
}
//modifiers get appended with "--" and the $name
@mixin m($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}

@mixin color ($color) {
  color: $color;
  svg { fill: $color; }
}

@mixin hover-color ($color) {
  &:hover {
    @include color($color);
  }
}

@mixin resp-font-sizes($mobile, $desktop, $desktop-lg) {
  font-size: $desktop;
  @include mobile {
    font-size: $mobile;
  }
  @include desktop-lg {
    font-size: $desktop-lg;
  }
}

@mixin btn-style($fg, $bg, $border: false) {
  @include color($fg);
  background-color: $bg;
  @if $border {
    border: 1px solid $border;
    box-shadow: 1px 2px 2px rgba(lighten($border, 5%), 0.5);
  } @else {
    // box-shadow: 1px 2px 2px rgba(lighten($bg, 5%), 0.5);
    border: 0 none;
    box-shadow: 0 none;
  }
  &:hover {
    color: white;
    background-color: darken($bg, 10%);
  }
}
