//- devbase: ensure=always
- var capitalize = name => name.charAt(0).toUpperCase() + name.slice(1);
-
  var titleize = R.pipe(
    R.replace(/([A-Z])/g, " $1"),
    R.split(/[\s-_]/),
    R.map(str => capitalize(str)),
    R.join(" ")
  );
- rem = (px) => `${px / 16.0}rem`
- em = (px) => `${px / 16.0}em`

mixin csrfProtection
  input(type="hidden" name="_csrf" value=csrfToken)

mixin repeat(times)
  each i in R.times(R.identity, times)
    block

mixin d(obj)
  pre.fs80= JSON.stringify(obj, null, "  ")

mixin select({optgroups, options, selected, hideshow})
  mixin _selectOptions(options, selected)
    -
      var isSelected = R.is(Array, selected)
        ? R.includes(R.__, selected)
        : R.equals(selected)
    if R.is(Array, options)
      each option in options
        if R.is(Array, option)
          option(
            selected=isSelected(option[0]) value=option[0]
            data-show=hideshow ? `.${hideshow}--${option[0]}` : false
          )= option[1]
        else
          option(
            selected=isSelected(option)
            data-show=hideshow ? `.${hideshow}--${option}` : false
          )= option
    else
      each name, key in options
        option(
          value=key
          selected=isSelected(key)
          data-show=hideshow ? `.${hideshow}--${key}` : false
        )= name
  .relative
    +ssicon("arrows1_008-down", 18)(
      style="pointer-events: none; position: absolute; top: 10px; right: 10px;"
    )
    select(
      data-hideshow=hideshow ? `.${hideshow}` : false
    )&attributes(attributes)
      if optgroups
        each options, group in optgroups
          optgroup(label=group)
            +_selectOptions(options, selected)
      else
        +_selectOptions(options, selected)

mixin post-btn({url, formClasses, data={}, confirm, label})
  form(
    action=url
    method="post"
    style="display: inline-block;"
    class=formClasses
  )
    each value, key in data
      input(type="hidden", name=key, value=value)
    if block
      block
    else
      button(
        data-confirm=confirm
      )&attributes(attributes)= label

-
  const convertStyles = attributes => R.pipe(
    R.toPairs,
    R.map(([k, v]) =>
      R.has(k, attributes)
        ? R.join(":", [v, attributes[k]])
        : nil
    ),
    R.prepend(attributes.style),
    R.without([nil]),
    R.join(";")
  )

-
  const sectionStyles = {
    width: "max-width"
  }
mixin section
  -
    attributes = R.pipe(
      R.assoc("style", convertStyles(attributes)(sectionStyles) + ";width: 100%"),
      R.omit(R.keys(sectionStyles))
    )(attributes)
  section.m0u&attributes(attributes)
    block

-
  const gridStyles = {
    columns: "grid-template-columns",
    gap: "grid-gap",
    "align-items": "align-items",
    "justify-content": "justify-content"
  }
mixin igrid
  -
    attributes = R.pipe(
      R.assoc("style", convertStyles(attributes)(gridStyles) + ";display: inline-grid"),
      R.omit(R.keys(gridStyles))
    )(attributes)
  div&attributes(attributes)
    block

mixin grid
  -
    attributes = R.pipe(
      R.assoc("style", convertStyles(attributes)(gridStyles) + ";display: grid"),
      R.omit(R.keys(gridStyles))
    )(attributes)
  div&attributes(attributes)
    block

mixin p-head()
  .flex-r-jsb-ac
    .prompt-header
      block
    .tright
      button.btn4(data-resolve="cancel")
        +ssicon("basic-icons-3_cancel", 24)
