body {
  color: white;
}
.flex-r-jfs-ac {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.btn {
  border: 1px solid #ddd;
  padding: 4px 8px;
  cursor: pointer;
  color: #ddd;
}
.btn:hover {
  border: 1px solid white;
  padding: 4px 8px;
  cursor: pointer;
  color: white;
}
