// devbase: ensure=always

$mobileBP: 992px;

@mixin mobile() {
  @media (max-width: $mobileBP) { @content; }
}
@mixin desktop() {
  @media (min-width: $mobileBP) { @content; }
}

@include mobile {
  body.uid-prompt-openned {
    overflow: hidden;
  }

  .hidden-mobile {
    visibility: hidden;
  }
}

.up-backdrop {
  $speed: 300ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 100;
  background-color: hsla(0, 0%, 27%, 0.2);
  transition: opacity $speed;
  transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);

  .up-canvas {
    position: absolute;
    background-color: white;
    display: inline-block;
    border-radius: 0.2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: transform $speed;
    transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);

    @include desktop {
      max-height: 99vh;
    }

    @include mobile {
      top: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
    }

    &.toward-left {
      transform: translate(50px, 0);
    }

    &.toward-right {
      transform: translate(-50px, 0);
    }
  }

  &.displayed {
    opacity: 1;
  }
  &.dismissed { opacity: 0; }

  .c-pointer { cursor: pointer; }
}
