// devbase: ensure=always
.vf-error {
  border-color: red !important;
}

.vf-hint {
  position: absolute;
  font-size: 80%;
  opacity: 0;
  transform: translate(0, -10px);
  transition: opacity 300ms, transform 300ms;

  &.displayed {
    opacity: 1;
    transform: translate(0, 0);
  }
}
