//- devbase: ensure=always
- var capitalize = name => name.charAt(0).toUpperCase() + name.slice(1);
-
  var titleize = R.pipe(
    R.replace(/([A-Z])/g, " $1"),
    R.split(/[\s-_]/),
    R.map(str => capitalize(str)),
    R.join(" ")
  );
- rem = (px) => `${px / 16.0}rem`
- em = (px) => `${px / 16.0}em`

mixin csrfProtection
  input(type="hidden" name="_csrf" value=csrfToken)

mixin repeat(times)
  each i in R.times(R.identity, times)
    block

mixin d(obj)
  pre.fs80= JSON.stringify(obj, null, "  ")

mixin select({optgroups, options, selected, hideshow, placeholder})
  mixin _selectOptions(options, selected)
    -
      var isSelected =
        selected === false
        ? R.always(false)
        : R.is(Array, selected)
        ? R.includes(R.__, selected)
        : R.equals(selected)
    if R.is(Array, options)
      each option in options
        if R.is(Array, option)
          option(
            selected=isSelected(option[0]) value=option[0]
            data-show=hideshow ? `.${hideshow}--${option[0]}` : false
          )= option[1]
        else
          option(
            selected=isSelected(option)
            data-show=hideshow ? `.${hideshow}--${option}` : false
          )= option
    else
      each name, key in options
        option(
          value=key
          selected=isSelected(key)
          data-show=hideshow ? `.${hideshow}--${key}` : false
        )= name
  .relative
    +ssicon("arrows1_008-down", rem(18))(
      style=`pointer-events: none; position: absolute; top: ${rem(10)}; right: 10px;`
    )
    select(
      data-hideshow=hideshow ? `.${hideshow}` : false
    )&attributes(attributes)
      if placeholder
        option(value="")= placeholder
      if optgroups
        each options, group in optgroups
          optgroup(label=group)
            +_selectOptions(options, selected)
      else
        +_selectOptions(options, selected)

mixin post-btn({url, formClasses, data={}, confirm, label})
  form(
    action=url
    method="post"
    style="display: inline-block;"
    class=formClasses
  )
    +csrfProtection
    each value, key in data
      input(type="hidden", name=key, value=value)
    if block
      block
    else
      button(
        data-confirm=confirm
      )&attributes(attributes)= label

-
  const convertStyles = attributes => R.pipe(
    R.toPairs,
    R.map(([k, v]) =>
      R.has(k, attributes)
        ? R.join(":", [v, attributes[k]])
        : nil
    ),
    R.prepend(attributes.style),
    R.without([nil]),
    R.join(";")
  )

-
  const sectionStyles = {
    width: "max-width"
  }
mixin section
  -
    attributes = R.pipe(
      R.assoc("style", convertStyles(attributes)(sectionStyles) + ";width: 100%"),
      R.omit(R.keys(sectionStyles))
    )(attributes)
  section.m0u&attributes(attributes)
    block

-
  const gridStyles = {
    columns: "grid-template-columns",
    rows: "grid-template-rows",
    gap: "grid-gap",
    "align-items": "align-items",
    "justify-content": "justify-content"
  }
mixin igrid
  -
    attributes = R.pipe(
      R.assoc("style", convertStyles(attributes)(gridStyles) + ";display: inline-grid"),
      R.omit(R.keys(gridStyles))
    )(attributes)
  div&attributes(attributes)
    block

mixin grid
  -
    attributes = R.pipe(
      R.assoc("style", convertStyles(attributes)(gridStyles) + ";display: grid"),
      R.omit(R.keys(gridStyles))
    )(attributes)
  div&attributes(attributes)
    block

mixin p-head()
  .flex-r-jsb-ac
    .prompt-header
      block
    .tright
      button.btn4(data-resolve="cancel")
        +ssicon("basic-icons-3_cancel", rem(24))

mixin remove-icon
  +ssicon("vaadin_cancel-button", rem(16))

mixin add-icon
  +ssicon("vaadin_plus-circle-1", rem(16))

mixin icon-route-get(size)
  +ssicon("vaadin_browser-1", size)

mixin icon-route-api-get(size)
  +ssicon("vaadin_puzzle-piece", size)

mixin icon-route-post(size)
  +ssicon("vaadin_sliders", size)

mixin colGenericTime({value})
  div(data-format-datetime=value)= formatDateTime(new Date(value))

mixin input-list({layout, hint, columnNames, key, value, itemExtraParams})
  +grid(
    align-items="center"
    gap="0 8px"
    columns=`${layout} 24px`
  ).mb1
    if columnNames
      each col, idx in columnNames
        div(style=`grid-column: ${idx+1}`)= col
    .tright
      button.btn4.pr0(type="button")&attributes({[`data-add-${key}`]: true})
        +add-icon
    if hint
      .secondary(style="grid-column: 1/-1")= hint
  div(class=`${key}-wrap`)
    - itemMixin = `one-${key}`
    if R.is(Array, value)
      each val in value
        if itemExtraParams
          +#{itemMixin}(R.merge(itemExtraParams, val))
        else
          +#{itemMixin}(val)
    else
      each val, key in value
        +#{itemMixin}({key, val})

mixin input-list-item(layout, key)
  +grid(
    align-items="center"
    columns=`${layout} 24px`
    gap="0 8px"
    class=`one-${key}-grid`
  ).mts
    block
    .tright
      button.btn4.px0(type="button")&attributes({[`data-remove-${key}`]: true})
        +remove-icon

mixin password({id, label})
  .flex-r-jsb-afe.hideshow-scope
    label(for=id)= label
    button.btn4(
      type="button"
      tabindex="-1"
      data-toggle=".toggle-password"
      data-toggle-password=`#${id}`
    )
      .toggle-password.hidden
        +ssicon("essential-set-2_view", rem(20))
      .toggle-password
        +ssicon("essential-set-2_hide", rem(20))
  input.mts(
    id=id
    type="password"
  )&attributes(attributes)

mixin datetime(ts)
  div(data-format-datetime=ts)= formatDateTime(new Date(ts))