// devbase: ensure=always
@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: normal;
  src: local('DejaVu Sans'), asset('static/fonts/DejaVuSans.woff') format('woff');
}

.-uid-preview {
  min-height: 800px;
}

* { box-sizing: border-box;
  margin-block-start: unset;
  margin-block-end: unset; }

html,
body { margin: 0; }

@function rem($px) {
  @return $px / 16px * 1rem;
}
@function em($px) {
  @return $px / 16px * 1em;
}

/* width */
::-webkit-scrollbar { width: rem(8px); }
/* Track */
::-webkit-scrollbar-track { background: transparent; }
/* Handle */
::-webkit-scrollbar-thumb { background: #aaa; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #888; }

$mobileBP: 992px;
@mixin mobile() {
  @media (max-width: $mobileBP) { @content; }
}
@mixin desktop() {
  @media (min-width: $mobileBP) { @content; }
}
@mixin desktop-lg() {
  @media (min-width: 1300px) { @content; }
}
@include mobile {
  .hidden-mobile { display: none !important; }
  .only-desktop { display: none !important; }
}
@include desktop {
  .hidden-desktop { display: none !important; }
  .only-mobile { display: none !important; }
}
@mixin animate ($animation, $duration: 300ms, $delay: 0ms, $direction: normal, $fillmode: both) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
}

// utility classes
body {
  .w100 { width: 100%; }
  .h100 { height: 100%; }
  .upcase { text-transform: uppercase; }
  .tcenter { text-align: center; }
  .tleft { text-align: left; }
  .tright { text-align: right; }
  .dnone { display: none; }
  .dblock { display: block; }
  .diblock { display: inline-block; }
  .flex1 { flex: 1; }
  .bold { font-weight: bold; }
  .fwnormal { font-weight: normal; }
  .relative { position: relative; }
  .absolute { position: absolute; }
  .oxh { overflow-x: hidden; }
  .oyh { overflow-y: hidden; }
  .grid { display: grid; }
  .cpointer { cursor: pointer; }
  .italic { font-style: italic; }
  .pen { pointer-events: none; }
  .pea { pointer-events: all; }
  .hidden { display: none !important; }
  .m0u { margin: 0 auto; }
  @for $i from 1 through 10 {
    .col#{$i} { grid-column: $i; }
  }
  @for $i from 2 through 10 {
    .span#{$i} { grid-column: span $i; }
  }

  @for $i from 100 through 1500 {
    @if $i % 100 == 0 {
      .m0u#{$i} { margin: 0 auto;
        max-width: $i * 1px; }
    }
  }
  @for $i from 50 through 200 {
    @if $i % 5 == 0 {
      .fs#{$i}p { font-size: $i / 100 * 1em; }
    }
  }
  @each $yPos in [top, bottom] {
    @each $xPos in [left, right] {
      .abs-#{$yPos}-#{$xPos} {
        position: absolute;
        #{$yPos}: 0;
        #{$xPos}: 0;
      }
    }
  }
}

$justifyContent: (jc: center, jse: space-evenly, jsb: space-between, jfs: flex-start, jfe: flex-end);
$alignItems: (ac: center, as: stretch, ab: baseline, afs: flex-start, afe: flex-end);

body {
  @each $jcCode, $jcValue in $justifyContent {
    @each $aiCode, $aiValue in $alignItems {
      .flex-r-#{$jcCode}-#{$aiCode} {
        display: flex;
        flex-direction: row;
        justify-content: $jcValue;
        align-items: $aiValue;
      }
      .flex-c-#{$jcCode}-#{$aiCode} {
        display: flex;
        flex-direction: column;
        justify-content: $jcValue;
        align-items: $aiValue;
      }
    }
  }
}

@mixin declare-margin-and-padding($suffix, $i, $val) {
  body {
    $class: #{$i}#{$suffix};
    .m#{$class} { margin: $val; }
    .mx#{$class} { margin-left: $val;
      margin-right: $val; }
    .my#{$class} { margin-top: $val;
      margin-bottom: $val; }
    .mt#{$class} { margin-top: $val; }
    .mb#{$class} { margin-bottom: $val; }
    .ml#{$class} { margin-left: $val; }
    .mr#{$class} { margin-right: $val; }
    .p#{$class} { padding: $val; }
    .px#{$class} { padding-left: $val;
      padding-right: $val; }
    .py#{$class} { padding-top: $val;
      padding-bottom: $val; }
    .pt#{$class} { padding-top: $val; }
    .pb#{$class} { padding-bottom: $val; }
    .pl#{$class} { padding-left: $val; }
    .pr#{$class} { padding-right: $val; }
    .gx#{$class} { grid-column-gap: $val; }
    .gy#{$class} { grid-row-gap: $val; }
  }
}
@for $i from 0 through 20 {
  @include declare-margin-and-padding('', $i, $i * rem(8px));
  @include desktop {
    @include declare-margin-and-padding('-desktop', $i, $i * rem(8px));
  }
  @include mobile {
    @include declare-margin-and-padding('-mobile', $i, $i * rem(8px));
  }
}
@include declare-margin-and-padding('', 's', rem(4px));
@include desktop {
  @include declare-margin-and-padding('-desktop', 's', rem(4px));
}
@include mobile {
  @include declare-margin-and-padding('-mobile', 's', rem(4px));
}


.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


%noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

%canselect {
  -webkit-touch-callout: text;
  user-select: text;
}

// convenient mixin for BEM
//elements get appended with "__" and the $name
@mixin e($name) {
  @at-root #{&}__#{$name} {
    @content;
  }
}
//modifiers get appended with "--" and the $name
@mixin m($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}

@mixin color ($color) {
  color: $color;
  svg { fill: $color; }
}

@mixin hover-color ($color) {
  &:hover {
    @include color($color);
  }
}

@mixin resp-font-sizes($mobile, $desktop, $desktop-lg) {
  font-size: $desktop;
  @include mobile {
    font-size: $mobile;
  }
  @include desktop-lg {
    font-size: $desktop-lg;
  }
}

@mixin btn-style($fg, $bg) {
  color: $fg;
  background-color: $bg;
  border-color: lighten($bg, 5%);
  box-shadow: 1px 2px 2px rgba(lighten($bg, 5%), 0.5);

  &:hover {
    color: white;
    background-color: lighten($bg, 5%);
  }
}

.sel-arrow {
  pointer-events: none;
  position: absolute;
  top: 50%;
  margin-top: rem(-9px);
  right: rem(12px);
}