mixin admin-access-log({session, table})
  +grid(columns="auto 1fr" style="height: 100vh")
    +admin-sidenav({current: "access-log"})
    .p2
      h2 Access Log

      .pt2
      .info-wrap
        +table-ext({ table, columns: { created_at: "colGenericTime", }, })
