mixin admin-sys-config({session, items, type, mode, content})
  +grid(columns="auto 1fr" style="height: 100vh")
    +admin-sidenav({current: "sys-config"})
    +grid.gx4(columns="auto 1fr")
      +sidenav({ urlPrefix: `${baseUrl}`, items, selected: type, })

      .flex-c-jfs-as
        .flex-r-jsb-ac.px2.pys.bg-gray
          div
          form.save-form(method="post" action=`${baseUrl}/${type}`)
            input#input-code(
              type="hidden"
              name="code"
              value="unchanged"
            )
            .flex-r-jfs-ac
              .btn4.fs80p(
                data-navframe={
                  name: "sysconf-versions",
                  url: `${baseUrl}/${type}/versions`,
                  style: "width: 100vw; max-width: 1200px; height: 95vh",
                }
              )= t`Versions`
              button.btn4.blue.disabled.save-btn.fs80p.ml2= t`Save`

        pre.flex1(
          data-init-ace={
            mode,
            bindInput: "#input-code",
            enableBtn: ".save-btn",
          }
        )= content
