mixin admin-sidenav({current})
  .flex-c-jsb-ac.py3.px2.h100.bg-gray
    .flex-c-jfs-afs.flex1.pr2
      b.pb4.fs110p.color-blue <%= project_name %>
      -
        const pages = [
          ["dashboard", t`Dashboard`],
          ["access-log", t`Access Log`],
          ["error-log", t`Error Log`],
          ["sys-config", t`Configure`],
        ];
      each page in pages
        - const [code, name] = page;
        if code === current
          .current.color-orange.pys= name
        else
          a.pys(href=`/admin/${code}`)= name

    .flex-c-jfs-as.w100
      +mode-switch
      .pts
      +lang-switch

      .pt2

      +post-btn({ url: "/logout", formClasses: "nav-skip", wipmsg: "Logging out..." }).btn2.w100
        +ssicon("vaadin_exit-symbol-1", 18)
