mixin admin-error-log({session, table})
  +grid(columns="auto 1fr" style="height: 100vh")
    +admin-sidenav({current: "error-log"})
    .p2
      h2 Error Log

      .pt2

      mixin colActions({row,value})
        .flex-r-jfs-ac
          .btn4.blue(
            data-navframe={
              name: "error-log-detail",
              url: `${baseUrl}/error-log/${row._id}`,
            }
          ) View

      mixin colGenericLongText({value})
        .ellipsis(style="max-width: 60rem")
          span= value

      .info-wrap
        -
          const te = {
            table,
            columns: {
              action: "colActions",
              at: "colGenericTime",
              summary: "colGenericLongText"
            }
          }
        +table-ext(te)

      -
        const q = btoa(encodeURIComponent(JSON.stringify({filters: table.options.filters})))
        const btn = {
          url: `${baseUrl}/error-log/delete-filtered?al=${q}`,
          data: {},
          confirm: `Are you sure to delete all ${table.stats.count} filtered logs?`,
        }
      .pt1.flex-r-jfe-ac
        +post-btn(btn).btn4.blue Delete all filtered logs
