mixin admin-dashboard({session})
  +grid(columns="auto 1fr" style="height: 100vh")
    +admin-sidenav({current: "dashboard"})
    .flex-c-jc-ac
      .py9.px8.flex-c-jc-ac.bg-gray.border-gray.page-shadow
        +ssicon("vaadin_gear", 36)
        .pt2
        h2.color-orange.bold= t`Under Construction`
        .pt3
        p= t`This will be the ${t`admin`} portal ${t`dashboard`}.`
        .pt2
