mixin checkbox(labelClass="mt1")
  label.flex-r-jfs-afs.checkbox.cpointer(class=labelClass)
    input&attributes(attributes)

    .svg-pos-fix.flex-r-jfs-ac
      - size = `var(--cbSize, ${rem(18)})`;
      +ssicon("vaadin_check-square-1", size).checked
      +ssicon("vaadin_square", size).not-checked

    if block
      .pl1.flex1
        block
