mixin generic-msg({msg, wip, wrapperClass, next, reload, txtGotIt="Got it"})
  div(class=wrapperClass)
    .py2
      .tcenter= msg
      if reload
        .reload-now

      unless wip
        .flex-c-jc-ac.pt3
          if next
            a.btn1.nav-skip(href=next.url)= next.label
            a.blue.mt1(data-resolve="--cancel")= txtGotIt
          else
            .btn1(data-resolve="--cancel")= txtGotIt
