//- devbase: ensure=always
mixin csrfProtection
  input(
    type="hidden"
    name="_csrf"
    value=csrfToken
  )

mixin repeat(times)
  each i in R.times(R.identity, times)
    block

mixin d(obj)
  pre.fs80= JSON.stringify(obj, null, "  ")

mixin select({optgroups, options, selected, hideshow, placeholder})
  mixin _selectOptions(options, selected)
    -
      var isSelected =
        selected === false
        ? R.always(false)
        : R.is(Array, selected)
        ? R.includes(R.__, selected)
        : R.equals(selected)
    if R.is(Array, options)
      each option in options
        if R.is(Array, option)
          option(
            selected=isSelected(option[0])
            value=option[0]
            data-show=hideshow ? `.${hideshow}--${option[0]}` : false
          )= option[1]
        else
          option(
            selected=isSelected(option)
            data-show=hideshow ? `.${hideshow}--${option}` : false
          )= option
    else
      each name, key in options
        option(
          value=key
          selected=isSelected(key)
          data-show=hideshow ? `.${hideshow}--${key}` : false
        )= name
  .relative
    +ssicon("arrows1_008-down", rem(18))(
      style=`pointer-events: none; position: absolute; top: ${rem(10)}; right: 10px;`
    )
    select(data-hideshow=hideshow ? `.${hideshow}` : false)&attributes(attributes)
      if placeholder
        option(value="")= placeholder
      if optgroups
        each options, group in optgroups
          optgroup(label=group)
            +_selectOptions(options, selected)
      else
        +_selectOptions(options, selected)

mixin post-btn({url, formClasses, data={}, confirm, label, wipmsg="Submitting ...", target})
  form(
    action=url
    method="post"
    style="display: inline-block"
    class=formClasses
    target=target
  )
    +csrfProtection
    each value, key in data
      input(
        type="hidden"
        name=key
        value=value
      )
    button(
      data-confirm=confirm
      data-submenu=wipmsg === false
        ? null
        : {
            mixin: "p-navframe",
            dir: "center",
            dismissOnOutsideClick: false,
            data: {
              name: "post-btn",
              mixin: "generic-msg",
              mixinParams: {msg: wipmsg, wip: true},
            },
          }
    )&attributes(attributes)
      if block
        block
      else
        = label

mixin igrid
  -
    attributes = R.pipe(
      R.assoc("style", convertStyles(attributes)(gridStyles)),
      R.omit(R.keys(gridStyles))
    )(attributes)
  .digrid&attributes(attributes)
    block

mixin grid
  -
    attributes = R.pipe(
      R.assoc("style", convertStyles(attributes)(gridStyles)),
      R.omit(R.keys(gridStyles))
    )(attributes)
  .dgrid&attributes(attributes)
    block

mixin p-head
  .flex-r-jsb-ac
    .prompt-header
      block
    .tright
      button.btn4(data-resolve="cancel")
        +ssicon("vaadin_close", rem(24))

mixin remove-icon
  +ssicon("vaadin_cancel-button", rem(16))

mixin add-icon
  +ssicon("vaadin_plus-circle-1", rem(16))

mixin icon-route-get(size)
  +ssicon("vaadin_browser-1", size)

mixin icon-route-api-get(size)
  +ssicon("vaadin_puzzle-piece", size)

mixin icon-route-post(size)
  +ssicon("vaadin_sliders", size)

mixin colYesNo({value})
  div= value ? "Yes" : "No"

mixin colGenericTime({value})
  if value
    div(data-format-datetime=value)= formatDateTime(new Date(value))
  else
    div N/A

mixin colGenericPrice({value, prefix})
  div #{prefix}#{formatPrice(value)}

mixin breadcrumb(nodes)
  .flex-r-jfs-ac
    each node, idx in nodes
      if idx > 0
        +ssicon("vaadin_right-arrow-4", rem(18)).mxs.secondary
      if R.is(Array, node)
        a(href=node[0])= node[1]
      else
        div= node

mixin sidenav({urlPrefix, items, labels={}, selected})
  .flex-c-jfs-as.pt2
    each item in items
      if selected === item
        .mt1.px2.py1.nav-item-bg= labels[item] || titleize(item)
      else
        a.mt1.px2.py1.secondary(href=`${urlPrefix}/${item}`)= labels[item] || titleize(item)

mixin input-list({layout, hint, columnNames, key, value, itemExtraParams})
  +grid.mb1(
    align-items="center"
    gap="0 8px"
    columns=`${layout} 24px`
  )
    if columnNames
      each col, idx in columnNames
        div(style=`grid-column: ${idx+1}`)= col
    .tright
      button.btn4.pr0(type="button")&attributes({[`data-add-${key}`]: true})
        +add-icon
    if hint
      .secondary(style="grid-column: 1/-1")= hint
  div(class=`${key}-wrap`)
    - itemMixin = `one-${key}`;
    if R.is(Array, value)
      each val in value
        if itemExtraParams
          +#{itemMixin}(R.mergeRight(itemExtraParams, val))
        else
          +#{itemMixin}(val)
    else
      each val, key in value
        +#{itemMixin}({key, val})

mixin input-list-item(layout, key)
  +grid.mts(
    align-items="center"
    columns=`${layout} 24px`
    gap="0 8px"
    class=`one-${key}-grid`
  )
    block
    .tright
      button.btn4.px0(type="button")&attributes({[`data-remove-${key}`]: true})
        +remove-icon

mixin password({id, label})
  .flex-r-jsb-afe.hideshow-scope
    label(for=id)= label
    button.btn4(
      type="button"
      tabindex="-1"
      data-toggle=".toggle-password"
      data-toggle-password=`#${id}`
    )
      .toggle-password.hidden Hide password
      .toggle-password Show password
  input.mts(id=id type="password")&attributes(attributes)

mixin datetime(ts)
  div(data-format-datetime=ts)= formatDateTime(new Date(ts))

mixin recaptcha
  if appVersion !== "dev"
    script(src="https://www.google.com/recaptcha/api.js")
    script.
      function onLoginRecaptchaProcessed(token) {
        $(`[data-callback="onLoginRecaptchaProcessed"]`).closest("form").submit();
      }

mixin rwd
  .detect-rwd(data-current=isMobile ? "mobile" : "desktop")
