mixin lang-switch
  a.flex-r-jfs-ac(
    data-submenu={
      mixin: "p-generic-dropdown",
      dir: "outside,inside",
      alwaysFloat: true,
      data: {
        items: R.map(([lang, display]) => {
          return {
            type: "post-btn",
            url: `/switch-lang/${lang}`,
            label: display,
            formClasses: "nav-skip",
          };
        }, languageOptions),
      },
    }
  )
    +ssicon("vaadin_earth-globe", rem(17))
    .pl1= R.fromPairs(languageOptions)[currentLang]
