//- devbase: ensure=on-bootstrap
mixin login({recaptchaSiteKey})
  //- https://web.dev/sign-in-form-best-practices/#meaningful-html
  script(src="https://www.google.com/recaptcha/api.js")
  script.
    function onLoginRecaptchaProcessed(token) {
      $(".login-form").submit();
    }
  .flex-r-jfs-ac.bg-gray.h100vh
    .m0u.px2.py3.bg-white.page-shadow(style="width: 480px")
      form.login-form.nav-skip(method="post" action="/signin")
        .flex-r-jc-ac
          b.color-blue.fs150p.pt1.pb5 My Cool App

        .flex-r-jsb-ac.border-gray(style="border-width: 0 0 1px 0")
          h2.pb1= t`Sign in`
          if appVersion === "dev"
            b.color-red dev

        .py2
        label(for="signin-username") Username
        input#signin-username.mts(
          required
          autofocus
          autocomplete="username"
          type="text"
          name="username"
          value=appVersion === "dev" ? "admin" : ""
        )

        .py1
        .flex-r-jsb-ac
          label(for="signin-password") Password
          button.btn4(
            type="button"
            tabindex="-1"
            data-toggle-password="#signin-password"
          ) Show password
        input#signin-password.mts(
          required
          autocomplete="current-password"
          pattern=".{9}.*"
          type="password"
          name="password"
          value=appVersion === "dev" ? "Password123!#" : ""
        )
        .secondary.mts Ten or more arbitrary characters.

        .py3
        .flex-r-jfe-afs
          .flex-c-jfs-afe
            button.btn1.g-recaptcha(
              data-sitekey=recaptchaSiteKey
              data-callback="onLoginRecaptchaProcessed"
              data-action="submit"
            ) Sign in

      .flex-c-jfs-afs.pts(style="margin-top: -2.8rem")
        +lang-switch
        .pts
        +mode-switch
        // a.mts(tabindex="-1" href="javascript:void(0)")= t`Forgot password?`
