mixin mode-switch
  +post-btn({ url: "/switch-mode", formClasses: "nav-skip" }).flex-r-jfs-ac.btn4
    if currentMode === "light"
      +ssicon("essentials-5_sun-weather-symbol", rem(17))
      .pl1 Light
    else
      +ssicon("essentials-5_moon-phase", rem(17))
      .pl1 Dark
