mixin p-confirm({question})
  div(
    style="text-align: center; padding: 2rem; display: flex; flex-direction: column; justify-content: center; height: 100%"
  )
    div(style="font-size: 150%") Confirmation
    .py2= question
    span.btn1-danger.c-pointer(data-resolve="confirm") Confirm
    span.btn2.c-pointer.mt1(data-resolve="cancel") Cancel
    .py1.secondary (Control-click to avoid confirmation.)
