mixin p-error-log-detail({detail})
  .p-error-log-detail
    +p-head
      h2 Error log at #{formatDateTime(new Date(detail.at))}

    mixin attr(key, name)
      .secondary #{name}:
      div= detail[key]

    mixin time(key, name)
      .secondary #{name}:
      +colGenericTime({value: detail[key]})

    mixin longAttr(key, name)
      .secondary #{name}:
      div(style="grid-column: 2/5")= detail[key]

    .px1.mt1
      +grid.gx2.gy1(columns="auto 1fr auto 1fr")
        +attr("method", "Method")
        +time("at", "at")
        +longAttr("referer", "Referer")
        +longAttr("user_agent", "User Agent")
        +longAttr("ip_addr", "IP")
        +longAttr("url", "URL")
        +longAttr("body", "Body")
        +longAttr("summary", "Summary")
        +longAttr("detail", "Detail")
