mixin p-error({error})
  div
    +p-head
      h2 Error

    .py2
    .tcenter
      .h2 Sorry
      .py1
      div Currently, we are not able to provide this response due to:
      .pt2
      .pt2.color-red= error
      .pt2
      .pt2 Please try again later or file a support ticket.

      .flex-r-jc-ac.pt2
        .btn2(data-resolve="cancel") Dismiss

      .pt2
