mixin p-generic-dropdown({compact, items})
  - const btnClass = compact ? "py1 px2 fs80p" : "py2 pl3 pr4";

  .p-dropdown.flex-c-jfs-as
    if !items || R.isEmpty(items)
      div(class=btnClass) No available options

    each item, idx in items
      if idx > 0
        .dropdown-border

      if item.type === 'link'
        a.btn4.bottom-border(
          class=btnClass
          href=item.href
          target=item.target
          data-resolve=item.resolve
          class=item.disabled ? "disabled" : ""
        )= item.label

      else if item.type === 'sep'
        .sep(style="height: 3px")

      else if item.type === 'submenu'
        button.btn4(class=btnClass data-submenu=item.data data-resolve=item.resolve)= item.label

      else if item.type === 'navframe'
        button.btn4(class=btnClass data-navframe=item.data data-resolve=item.resolve)= item.label

      else if item.type === 'custom'
        button.btn4(class=btnClass data-resolve=item.resolve)&attributes(item.attrs)= item.label

      else if item.type === 'post-btn'
        +post-btn(item).btn4.w100(class=btnClass data-resolve=item.resolve)&attributes(item.attrs)
