mixin p-i18n-manager({tokens})
  .p2.bg-white
    div(data-nav-frame="i18n-manager")
      +p-head
        h2 i18n manager

      .pt1(style="min-width: 400px")
        if R.isEmpty(tokens)
          div No tokens founds.
          - return;

        .flex-r-jsb-ac
          +lang-switch
          .blue.btn4.btn-toggle(data-toggle=".tran__present, .btn-toggle") only absent
          .blue.btn4.btn-toggle.hidden(
            data-toggle=".tran__present, .btn-toggle"
          ) show all
        .pt1

        form.relative(
          action=`/_/update-i18n/${i18next.language}`
          method="post"
        )
          +grid.gy1.fs80p(columns="1fr")
            each token in tokens
              - const isMissing = !i18next.exists(token);
              div(class=isMissing ? "" : "tran__present")
                .flex-r-jfs-ab
                  div= token
                  if isMissing
                    .color-red.pls *missing
                input(
                  type="text"
                  name=`${token}`
                  value=i18next.t(token)
                )

          .flex-r-jfe-ac.pt2
            button.btn1(type="submit") Persist to file

        .flex-r-jfe-ac.pt1
          .btn4.blue.pys.btn-clear-local-storage Clear localStorage
