mixin p-sysconf-versions({table, type})
  // require: colGenericTime
  div
    +p-head
      h2 Versions

    mixin colVersion({row, value})
      if row === R.last(table.rows)
        div= value
      else
        a.blue(href=`${baseUrl}/${type}/view/${row.version}`)= value

    mixin colActions({row, value})
      if row !== table.rows[0]
        a.blue(href=`${baseUrl}/${type}/compare/${row.version}`) compare with current

    .info-wrap.mt2
      +table-ext({table, columns: {version: "colVersion", at: "colGenericTime", actions: "colActions"}})
