mixin p-sysconf-compare({type, data})
  div
    +p-head
      h2 Compare
    .flex-r-jsb-ac
      a.blue(href=`${baseUrl}/${type}/versions`) back to versions
      if data.nextId
        a.blue(href=`${baseUrl}/${type}/view/${data.nextId}`) next: #{data.nextId}

    .py2
      div(data-difflib=data)
