mixin p-upload-progress({current})
  .p2.bg-white(style="width: 350px")
    +p-head
      h2 Upload

    .secondary.fs85p Please do not close this page until finished.

    .my2
      h1.progress 90%

    .flex-r-jfs-ac
      .mr1 Files:
      .files-current 3
      .mx1 /
      .files-total 5

    .flex-r-jfs-ac
      .mr1 File:
      .file 32132213.jpg

    .flex-r-jfs-ac
      .mr1 Status:
      .status 20%
