mixin pick-ssicon({packs, used, showAll=false, pack=false})
  .ssicon-selector.p2
    mixin one-pack(name)
      each id in packs[name]
        span.btn4(data-click-to-copy=`text:${id}`)
          svg(class=R.includes(id, used[name] || []) ? "in-use" : "")
            use(xlink:href=asset(`static/sprite.svg#${id}`))

    if pack
      h2 Pack #{pack}
      input.search(placeholder="Search by name")

      .fs80p.secondary (click to copy)
      .py1
        +one-pack(pack)
      .flex-r-jc-ac
        a.btn2(href="/_/pick-ssicon") back to index

    else if showAll
      h2 All icons
      input.search(placeholder="Search by name")
      .fs80p.secondary (click to copy)
      each name in R.keys(packs)
        a(href=`/_/pick-ssicon?pack=${name}`)
          .pack-name= name
        +one-pack(name)
      .flex-r-jc-ac.pt1
        a.btn2(href="/_/pick-ssicon") back to index

    else
      h2 Icons in use
      input.search(placeholder="Search by name")
      .fs80p.secondary (click icon to copy, click pack name to enter)

      .py1
        each iconIds, name in used
          a(href=`/_/pick-ssicon?pack=${name}`)
            .pack-name= name
          .flex-r-jc-ac
            each id in iconIds
              span.btn4(data-click-to-copy=`text:${id}`)
                svg
                  use(xlink:href=asset(`static/sprite.svg#${id}`))

      .flex-r-jc-ac
        a.btn2(href="/_/pick-ssicon?all=1") browse all packs

    script.
      if (window.initIconPicker) {
        window.initIconPicker();
      } else {
        window.addEventListener("load", () => {
          window.initIconPicker();
        });
      }
