mixin divider(options={})
  svg(style="position: absolute; pointer-events: none; opacity: 0")
    defs
      clipPath(clipPathUnits="objectBoundingBox")&attributes(attributes)
        path(d=options.path)

mixin ssicon(id, size=48)
  - const iconSize = R.is(Number, size) ? `${size}px` : size;
  svg(style=`width: ${iconSize}; height: ${iconSize};`)&attributes(attributes)
    use(xlink:href=asset(`static/sprite.min.svg#${id}`))
