mixin table-ext-select-filter({options, selected})
  .p2.bg-white.flex-c-jsb-as.te-select-filter.noselect(
    style="min-width: 400px; max-height: 99vh"
  )
    .flex-r-jsb-ac.pb1
      .flex-r-jfs-ac
        .btn4.blue(data-check-all-within=".te-select-filter") All
        .secondary2.mx1 |
        .btn4.blue(data-check-none-within=".te-select-filter") None
      .btn4.blue(data-resolve="-cancel-") Cancel

    .flex1.oya
      each option in R.sortBy(R.identity, options)
        unless R.isNil(option) || option === ""
          +checkbox(
            type="checkbox"
            value=option
            checked=R.includes(option, selected)
          )
            .flex-r-jsb-ac.hover-show
              .pr1= option
              .btn4.blue.hover-show-target(data-resolve=option) just this

    .pt2
      .btn1(data-resolve="-confirm-") Confirm
