mixin table-ext-options({stats, options, fields, fieldNames})
  .p2.bg-white
    +p-head
      h2= t`Table options`

    .mt1
      form.nav-skip(data-te-dyna-columns=options.id)
        +grid.mt1.dblock-mobile.gx6(columns="1fr 1fr")
          div
            div= t`Items per page`
            each count in [15, 30, 50]
              +radio(
                type="radio"
                name="itemsPerPage"
                value=count
                checked=options.itemsPerPage === count
                data-submit-on-change={form: "parent"}
              )= count

          .pt2-mobile
            div= t`Columns`
            each field in stats.allFields || []
              +checkbox(
                type="checkbox"
                name="columns"
                value=field
                checked=R.includes(field, fields)
                data-submit-on-change={form: "parent"}
              )
                div= fieldNames[field] || titleize(field)

        if options.extraFlags
          .pt2= t`Extra options`
          each val, key in options.extraFlags
            +checkbox(
              type="checkbox"
              name="flags"
              value=key
              checked=val
              data-submit-on-change={form: "parent"}
            )
              div= capitalize(key.replace("_", " "))

        // button.btn1.mt2 Apply
        .pt2

      if options.exportUrl
        .mt2
        a.blue(href=options.exportUrl target="_blank")= t`Export as .xlsx`
