mixin tenant-dashboard({session})
  .flex-c-jc-ac.pt3(style="height: 100vh")
    .py9.px5.flex-c-jc-ac(
      style="background-color: #f0f0f0; border: 1px solid #ccc"
    )
      h2.color-orange.bold Under Construction
      .pt3
      p This will be the #[b customer] portal dashboard.
      .pt1

    .py2
    +post-btn({ url: "/logout", formClasses: "nav-skip", wipmsg: "Logging out...", }).btn1
      div Logout
