//- devbase: ensure=on-bootstrap
mixin user-not-registered({id})
  //- https://web.dev/sign-in-form-best-practices/#meaningful-html
  .signin-page.flex-r-jfs-ac
    .m0u.px2(style="width: 450px")
      form(method="post" action="/signin")
        if appVersion === "dev"
          h1.pb1(style="border-bottom: 1px solid red; color: red") Local Test
        else
          h1.pb1(style="border-bottom: 1px solid #ccc") Sign in

        .py2
        div Sorry, login ID #{id} is not a registered user.

        .py2
        .flex-r-jsb-afs
          a(href="/") Back to login page

        .py2
