$danger: hsl(0, 86%, 58%);
$primary: #333;
$primary-d1: #444;
$primary-dark: #fff;
$font-size: rem(20px);
$body-bg: #fff;
$input-height: rem(38px);
$btn-padding: rem(12px) rem(80px) rem(12px);
$btn1-color: #fa5758;
$border-radius: rem(2px);

html {
  @include mobile {
    font-size: 100%;
  }
  @include desktop {
    font-size: 85%;
  }
  @include desktop-lg {
    font-size: 100%;
  }
}

body {
  @include color($primary);
  font-size: $font-size;
  font-family:
    'DejaVu Sans',
    system-ui,
    -apple-system,
    sans-serif,
    'MHeiHK',
    'Microsoft JhengHei',
    'FZLanTingHei-L-GBK',
    'Noto Sans CJK TC',
    'PingFang HK',
    'Adobe Heiti Std',
    'LiHei Pro';
  line-height: 1.5;
  background-color: $body-bg;
}

// utility class with proper dark bg content/link/btn handling
.bg-darkgray {
  @include color(#eee);
  background-color: #262b40;
}

@mixin darkmode() {
  $parent: #{&};
  @at-root {
    .bg-darkgray {
      #{$parent} { @content; }
    }
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin: 0;
  font-weight: normal;
  line-height: 1.3;
}
h1, .h1 { font-size: rem(38px); }
h2, .h2 { font-size: rem(30px); }
h3, .h3 { font-size: rem(20px); }

.secondary { color: #c7a6a6; }

%button {
  border-radius: border-radius;
  min-width: rem(100px);
  padding: $btn-padding;
  cursor: pointer;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;
  font-size: $font-size;
  /* stylelint-disable-next-line */
  @extend %noselect;
  @include darkmode {
    box-shadow: 2px 3px 8px #000;
    &.disabled {
      color: #bbb;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &.disabled {
    color: #bbb;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.btn1 {
  @extend %button;
  @include btn-style(white, $btn1-color);
}

.btn1-danger {
  @extend %button;
  @include btn-style(white, $danger);
}

.btn2 {
  @extend %button;
  color: $primary;
  background-color: transparent;
  box-shadow: none;
  @include darkmode {
    color: darken($primary-dark, 10%);

    &:hover {
      color: $primary-dark;
      background-color: lighten($primary, 10%);
    }
  }

  &:hover {
    color: $primary;
    background-color: lighten($primary, 50%);
  }
}

.btn2-danger {
  @extend %button;
  color: red;
  border-color: red;
  background-color: transparent;
  box-shadow: none;
  @include darkmode {
    color: darken($primary-dark, 10%);

    &:hover {
      color: white;
      background-color: $danger;
    }
  }

  &:hover {
    color: red;
    background-color: lighten($danger, 40%);
  }
}

.btn3 {
  @extend %button;
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  color: $primary;
  @include darkmode {
    color: darken($primary-dark, 10%);

    &:hover {
      color: white;
      background-color: lighten($primary, 10%);
    }
  }

  &:hover {
    color: lighten($primary, 5%);
    background-color: lighten($primary, 50%);
  }
}

a,
.btn4 {
  @include color(lighten($primary, 10%));
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  padding: 0;
  /* stylelint-disable-next-line */
  @extend %noselect;
  @include darkmode {
    @include color(darken($primary-dark, 20%));

    &:hover {
      @include color($primary-dark);
    }
    &.disabled { color: #aaa; }
  }
  &:not(:hover) { text-decoration: none; }
  &:focus { outline: 0 none; }

  &:hover,
  &.active,
  &.hideshow-current {
    @include color(darken($primary, 10%));
    text-decoration: none;
  }

  &.disabled {
    @include color(#bbb);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.prompt-header {
  cursor: pointer;

  &:hover {
    background-color: #dcdcdc;
  }
}

input,
select,
textarea {
  font-size: $font-size;
  display: block;
  width: 100%;
  color: #555;
  padding: rem(5px) rem(12px);
  border: 1px solid #ddd;
  border-radius: border-radius;
  background-color: white;
  outline: 0;
  &:hover { border-color: #c4c4c4; }
  &:focus { border-color: #aaa; }
}

input,
select {
  /* stylelint-disable-next-line */
  -webkit-appearance: none;
  /* stylelint-disable-next-line */
  -moz-appearance: none;
  appearance: none;
  height: $input-height;
}

.alert {
  @extend .pl2, .py1, .pr1;
  border-radius: border-radius;
  border-left-width: 0;
  border-right-width: 0;
  font-size: $font-size;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: transform 500ms;
  background-color: moccasin;

  button.close {
    padding: 0 rem(8px);
    margin-left: rem(16px);
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
  }

  &.alert-displayed {
    transform: translate(-50%, 0%);
  }

  &.alert-removed {
    transform: translate(-50%, -100%);
  }
}
