mixin style({})
  .p4
    h1 Heading 1
    h2 Heading 2
    h3 Heading 3
    div Content goes here.

    mixin buttons-preview
      .grid(style="grid-gap: 0 16px; grid-auto-flow: column; justify-content: flex-start;")
        button.btn1&attributes(attributes) btn1
        button.btn1-danger&attributes(attributes) btn1-danger
        button.btn2&attributes(attributes) btn2
        button.btn2-danger&attributes(attributes) btn2-danger
        button.btn3&attributes(attributes) btn3
        button.btn4&attributes(attributes) btn4

    .w100.pt3
      .pb1 Standard
      +buttons-preview

    .w100.pt3
      .pb1 With .disabled
      +buttons-preview.disabled

    .w100.pt3
      .pb1 Standard (dark mode)
      .bg-darkgray.p2
        +buttons-preview

    .w100.pt3
      .pb1 With .disabled (dark mode)
      .bg-darkgray.p2
        +buttons-preview.disabled

    .pt3
      .pb1 .flex-r-jfs-ac read as flex(horizontal) justify(flex-start), align(center)
      .flex-r-jfs-ac
        .px2.py1(style="border: 1px solid #999;") .px2.py1
        .px2.py2.mx2(style="border: 1px solid #999;") .px2.py2.mx2
        .px2.py1(style="border: 1px solid #999;") .px2.py1

    .pt3
      .pb1 .flex-r-jsb-ac read as flex(horizontal) justify(space-between) align(center)
      .flex-r-jsb-ac
        .px2.py1(style="border: 1px solid #999;") .px2.py1
        .px2.py2(style="border: 1px solid #999;") .px2.py2
        .px2.py1(style="border: 1px solid #999;") .px2.py1

    .pt3.pb1 input and select
    .grid(style="grid-template-columns: 1fr 1fr 1fr; grid-gap: 8px;")
      input(value="Value")
      +select({options: ["One", "Two", "Three"], selected: "Two"})
