mixin table-ext({table, columns={}})
  - var {rows, fields, options, stats} = table

  //- p= JSON.stringify(options)
  //- p= JSON.stringify(stats)
  //- p= JSON.stringify(columns)

  -
    const handleNullBlank = ({row, key}) => {
      if (row[key] === null){
        return "(null)";
      }
      if (row[key] === ""){
        return "(blank)";
      }
      return row[key];
    };

  mixin tableExtHeader(name)
    if options.fieldNames && R.has(name, options.fieldNames)
      - var dname = options.fieldNames[name]
    else
      - var dname = titleize(name)
    if R.isNil(options.sortable) || R.includes(name, options.sortable)
      .cell.header(data-te-sort=name)
        div= dname
        .arrows(class=options.sort[0] === name ? options.sort[1] : false)
          +ssicon("arrows-40_up_arrow", 12)
          +ssicon("arrows-40_down_arrow", 12)
    else
      .cell.header
        div= dname

  mixin tableExtFilter(name)
    if options.filterable
      .cell.filter-input
        if R.isNil(options.filterable[name]) || options.filterable[name] === "freetext"
          input(
            data-te-filter=name
            type="text"
            value=options.filters ? options.filters[name] : false
          )
        else if options.filterable[name] === "date"
          input(
              type="date"
              data-te-filter=name
              value=options.filters ? options.filters[name] : false
            )
        else if options.filterable[name] === "select"
          - value = R.path(["filters", name], options) || ''
          - fopts = R.prepend('', R.sort(R.identity, stats ? stats.fopts[name] : {}))
          +select({options: fopts, selected: value})(name=name data-te-filter=name)

  .table-ext(data-options=options)
    .mb1.pb1.grid(style="grid-template-columns: 1fr auto;")
      if block
        block
      else
        div

      .pagination.flex-r-jfe-ac
        .pr1 #{stats ? stats.startAt : 0} - #{stats ? stats.endAt : 0} of #{stats ? stats.count : 0}
        a.px1(
          href="javascript:void(0)"
          data-te-page=options.page - 1
          disabled=options.page === 1
        ) < Prev
        a.pl1(
          href="javascript:void(0)"
          data-te-page=options.page + 1
          disabled=!stats || stats.endAt === stats.count
        ) Next >

    .grid.grid-table(style=`grid-template-columns: repeat(${fields.length}, auto);`)
      each field in fields
        +tableExtHeader(field)
      each field in fields
        +tableExtFilter(field)
      each row in rows
        each field in fields
          - const value = handleNullBlank({row, key: field});
          if (columns && R.has(field, columns))
            .cell
              +#{columns[field]}({row, value})
          else
            .cell= value
