.table-ext {
  .filter-input {
    input {
      height: 26px;
      padding-top: 5px;
      padding-left: 6px;
    }

    select {
      height: 26px;
      padding-top: 2px;
      padding-left: 3px;
    }
  }

  .pagination {
    a {
      &[disabled] {
        color: #999;
        cursor: default;
        svg { fill: #999; }

        &:hover {
          cursor: default;
          text-decoration: none;
        }
      }
    }

    svg {
      margin: -3px 3px 0;
    }
  }

  .grid-table {
    margin-bottom: 8px;
    align-items: center;
    .cell {
      padding: 8px;
      border-top: 1px solid #dee2e6;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #111;
      border-top: 0 none;
      height: 2rem;
      > div:first-of-type { padding-top: 3px; }
    }
    [data-te-sort] {
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }

      .arrows {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        svg {
          fill: #ccc;
        }

        &.asc {
          svg:first-of-type {
            fill: #000;
          }
        }

        &.desc {
          svg:last-of-type {
            fill: #000;
          }
        }
      }
    }
  }
}
