doctype html
html
  head
    title= title
    link(rel="icon", type="image/png", href=`${assetsContext}/static/img/logo.png`)
    link(rel='stylesheet', href=`${assetsContext}/vendor.css`)
    link(rel='stylesheet', href=`${assetsContext}/app.css`)
    link(rel='stylesheet', href=`${assetsContext}/global.css`)
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  body
    .flex-r-jc-ac(style="width: 100vw; height: 100vh")
      .flex-c-jfs-afs
        h1 Internal error
        .py2
        pre= err.message
