//- bootstrap alert, e.g. +alert("alert-primary", "fa-info-circle")= Yes, it's working
mixin alert(klass, icon)
  .alert-wrap.alert-displayed
    .alert.alert-dismissible(class=klass)
      i.fa.mr-1(class=icon)
      block
      button.close(
        type="button"
        data-dismiss="alert"
      )
        span &times;

mixin flashAlerts
  each flash in appFlash("info")
    +alert("alert-primary", "fa-info-circle")= flash

  each flash in appFlash("warn")
    +alert("alert-warning", "fa-question-circle")= flash

  each flash in appFlash("error")
    +alert("alert-danger", "fa-exclamation-circle")= flash

//- inject mixins

doctype html
html
  head
    title= title
    link(
      rel="icon"
      type="image/png"
      href=`${assetsContext}/static/img/logo.png`
    )
    link(rel="stylesheet" href=`${assetsContext}/vendor.css`)
    link.app-css(rel="stylesheet" href=`${assetsContext}/app.css`)
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    )
  body(
    class=(currentMode === "dark" ? "dark-mode" : "light-mode")
    data-app={appVersion,siteName}
    data-assets-context=assetsContext
    data-csrf-token=csrfToken
    data-current-lang=currentLang
    data-current-mode=currentMode
    data-mixin-outsync=mixinOutsync
  )
    - var asset = (filename) => `${assetsContext}/${filename}`;

    div
      .nav-base
        div(
          data-current-lang=currentLang
          data-current-mode=currentMode
          data-csrf-token=csrfToken
          data-base-url=baseUrl
          data-current-url=currentUrl
        )
        +flashAlerts
        +#{mixin}(params)

    script(
      type="text/javascript"
      src=`${assetsContext}/vendor.js`
    )
    if appVersion === "dev"
      script.
        const scriptLoaded = function () {
          if (window.onerror === null) {
            alert("Unable to load app.js, probably because failed to compile.");
          }
        };
      script.app-js(
        type="text/javascript"
        src=`${assetsContext}/app.js`
        onload="scriptLoaded()"
      )
    else
      script(
        type="text/javascript"
        src=`${assetsContext}/app.js`
      )
