//- bootstrap alert, e.g. +alert("alert-primary", "fa-info-circle")= Yes, it's working
mixin alert(klass, icon)
  .alert.alert-dismissible.fade.show(class=klass)
    i.fa.mr-1(class=icon)
    block
    button.close(type="button", data-dismiss="alert")
      span &times;

mixin flashAlerts()
  each flash in appFlash("info")
    +alert("alert-primary", "fa-info-circle")= flash

  each flash in appFlash("warn")
    +alert("alert-warning", "fa-question-circle")= flash

  each flash in appFlash("error")
    +alert("alert-danger", "fa-exclamation-circle")= flash
