include mixins
include ../uid/includes

doctype html
html
  head
    title= title
    link(rel="icon", type="image/png", href=`${assetsContext}/static/img/logo.png`)
    link(rel='stylesheet', href=`${assetsContext}/vendor.css`)
    link(rel='stylesheet', href=`${assetsContext}/app.css`)
    link(rel='stylesheet', href=`${assetsContext}/global.css`)
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  body(
    data-app-version=appVersion === "dev" ? "dev" : ""
    data-assets-context=assetsContext
    data-csrf-token=csrfToken
  )
    - var asset = (filename) => `${assetsContext}/${filename}`;

    div
      .nav-base
        div(
          data-csrf-token=csrfToken
          data-base-url=baseUrl
        )
        +flashAlerts()
        +#{mixin}(params)

    script(type='text/javascript', src=`${assetsContext}/vendor.js`)
    if appVersion === "dev"
      script.
        const scriptLoaded = function() {
          if (window.onerror === null) {
            alert('Unable to load app.js, probably because failed to compile.');
          }
        }
      script(type='text/javascript', src=`${assetsContext}/app.js` onload="scriptLoaded()")
    else
      script(type='text/javascript', src=`${assetsContext}/app.js`)
