label.checkbox {
  @include color(var(--text-color, #333));
  input[type='checkbox'] {
    display: none;
    &:checked {
      ~.svg-pos-fix .not-checked { display: none; }
    }
    &:not(:checked) {
      ~.svg-pos-fix .checked { display: none; }
    }
  }
  .svg-pos-fix {
    height: var(--cbAbsLineHeight);
  }
  // .not-checked, .checked { margin-top: 1px; }
}

.vf-error {
  label.checkbox {
    @include color(red);
  }
}