//- devbase: ensure=on-bootstrap
mixin index({table})
  //- https://web.dev/sign-in-form-best-practices/#meaningful-html
  .signin-page.flex-r-jfs-ac
    // .m0u.px2(style="width: 450px")
      // form(method="post" action="/signin")
      //   h1.pb1(style="border-bottom: 1px solid #ccc") Sign in

      //   .py2
      //   label(for="signin-email") Email
      //   input#signin-email.mts(
      //     required
      //     autofocus
      //     autocomplete="username"
      //     type="email"
      //     name="email"
      //   )

      //   .py1
      //   .flex-r-jsb-ac
      //     label(for="signin-password") Password
      //     button.btn4(
      //       type="button"
      //       tabindex="-1"
      //       data-toggle-password="#signin-password"
      //     ) Show password
      //   input#signin-password.mts(
      //     required
      //     autocomplete="current-password"
      //     pattern=".{10}.*"
      //     type="password"
      //     name="password"
      //   )
      //   .secondary.mts Ten or more arbitrary characters.

      //   .py2
      //   .flex-r-jsb-ac
      //     a(tabindex="-1" href="javascript:void(0)") Forgot password?
      //     button.btn1 Sign in

    .m0u.px2(style="width: 900px")
      +table-ext({
        table,
      })