//- expose
mixin p-edit-one-value(options)
  -
    const {
      url,
      noSubmit,
      extraData,
      name,
      type="text",
      pattern,
      placeholder,
      value,
      desc,
      resetIfBlank,
      litepickerConfig={},
      selectOptions,
      formAttrs={},
      extraInputOpts={},
      inputStyle="",
    } = options
  - const noMinWidth = R.includes(type, ["color", "date"])

  .p2.bg-white(style=noMinWidth ? "" : `min-width: ${rem(400)}`)
    +p-head
      h2= name

    if type === 'yesno'
      .mt2
        if url && url !== 'resolve'
          +post-btn({
            url,
            data: {value: "Yes"},
            label: "Yes"
          }).btn2(style=`width: ${rem(100)}`)
          +post-btn({
            url,
            data: {value: "No"},
            label: "No"
          }).btn2.ml2(style=`width: ${rem(100)}`)
        else
          .flex-r-jfs-ac
            .btn2(
              style=`width: ${rem(100)}`
              data-resolve="yes"
            ) Yes
            .btn2.ml2(
              style=`width: ${rem(100)}`
              data-resolve="no"
            ) No

    else if type === 'buttons'
      .mt1.flex-c-jfs-as
        if R.isNil(selectOptions.options) || R.isEmpty(selectOptions.options)
          div= selectOptions.noOptions || "No available options."
        each oneOption in selectOptions.options
          - const idName = R.is(Array, oneOption) ? oneOption : [oneOption, oneOption]
          if R.includes(idName[0], selectOptions.lockOptions || [])
          else
            if url && url !== 'resolve'
              +post-btn({
                url,
                data: {value: idName[0]},
                label: idName[0] == value ? `${idName[1]} *` : idName[1]
              }).btn2.w100.mt1.tleft
            else
              .btn2.w100.mt1.tleft(
                data-resolve=idName[0]
              )
                div= idName[0] == value ? `${idName[1]} *` : idName[1]
                if idName[2]
                  .secondary.fs80p= idName[2]

    else
      form.relative(
        method="post"
        action=url
        data-submit-resolve=url && url !== 'resolve' ? false : true
      )&attributes(formAttrs)
        if extraData
          each value, key in extraData
            input(type="hidden" name=key value=value)

        unless noSubmit
          .py1

        if type === 'text'
          input.mts(
            autofocus
            autohighlight
            type="text"
            name="value"
            value=value
            placeholder=placeholder
            data-vf-pattern=pattern
          )&attributes(extraInputOpts)

        else if type === 'textarea'
          textarea.mts(
            autofocus
            name="value"
            placeholder=placeholder
            style=`height: ${rem(150)}; ${inputStyle}`
            data-resolve-on-ctrl-enter=true
            data-cancel-on-esc=true
          )= value

        else if type === 'code'
          pre.mts(
            style=`height: ${rem(100)}; ${inputStyle}`
          )= value

          .flex-r-jfe-ac.mt2
            .btn1(data-apply) Apply

        else if type === 'integer'
          input.mts(
            data-reset-if-blank=resetIfBlank
            autofocus
            autohighlight
            type="number"
            name="value"
            value=value
            placeholder=placeholder
          )

        else if type === 'float'
          input.mts(
            data-reset-if-blank=resetIfBlank
            autofocus
            autohighlight
            type="number"
            step="any"
            name="value"
            value=value
            placeholder=placeholder
          )

        else if type === 'date'
          .tcenter.noselect.mydatepicker
            input.mts.init-litepicker.hidden(
              name="value"
              value=value
              readonly
              data-config=R.merge(litepickerConfig, {
                resolveOnChanged: true,
              }),
            )

        else if type === 'color'
          div
            input.mts.inline-colorpicker(
              name="value"
              value=value
            )
            .picker.mt1

        else if type === 'select' && selectOptions
          +grid(columns="1fr 1fr").gx1
            each idName in selectOptions.options
              - idName = R.is(Array, idName) ? idName : [idName, idName]
              if R.includes(idName[0], selectOptions.lockOptions || [])
                .pen(style="opacity: 0.5")
                  +radio(
                    name="value"
                    value=idName[0]
                    checked=value === idName[0]
                  )
                    span= idName[1]
              else
                +radio(
                  name="value"
                  value=idName[0]
                  checked=value === idName[0]
                )
                  span= idName[1]

        else if type === 'select-multiple' && selectOptions
          +grid(
            style=selectOptions.style
          ).gx1
            each idName in selectOptions.options
              - idName = R.is(Array, idName) ? idName : [idName, idName]
              if R.includes(idName[0], selectOptions.lockOptions || [])
                .pen(style="opacity: 0.5")
                  +checkbox(
                    type='checkbox'
                    name="value[]"
                    value=idName[0]
                    checked=R.includes(idName[0], value)
                  )
                    span= idName[1]
              else
                +checkbox(
                  type='checkbox'
                  name="value[]"
                  value=idName[0]
                  checked=R.includes(idName[0], value)
                )
                  span= idName[1]

        if desc
          .secondary.pts!= desc

        if !noSubmit && type !== 'date'
          .tright.mt2
            button.btn1 Submit