//- expose
mixin p-navframe({name, mixin, mixinParams, url, style})
  .p2.bg-white(style=style)
    div(
      data-nav-frame=name
      data-nav-frame-baseurl=baseUrl
      data-initial-href=url
    )
      if mixin
        +#{mixin}(mixinParams || {})