label.radio {
  @include color(var(--text-color, #333));
  input[type='radio'] {
    display: none;
    &:checked {
      ~.svg-pos-fix .not-checked { display: none; }
    }
    &:not(:checked) {
      ~.svg-pos-fix .checked { display: none; }
    }
  }
  .svg-pos-fix {
    height: var(--cbAbsLineHeight);
  }
}