//- expose
mixin radio(labelClass)
  label.radio.flex-r-jfs-afs.pts.cpointer(
    class=labelClass
  )
    input(type="radio")&attributes(attributes)

    .svg-pos-fix.flex-r-jfs-ac
      - size = `var(--cbSize, ${rem(18)})`
      +ssicon("vaadin_dot-inside-a-circle", size).checked
      +ssicon("vaadin_circle", size).not-checked

    if block
      .pl1.flex1
        block