$danger: hsl(0, 86%, 58%);
$primary: #3e3e3e;
$primary-d1: #4e4e4e;
$primary-dark: #fff;
$font-size: rem(16px);
$font-size-lg: 1rem;
$body-bg: #f5f8fb;
$input-height: rem(38px);
$btn-padding: rem(12px) rem(20px) rem(12px);
$btn-large-padding: rem(12px) rem(20px) rem(12px);
$btn1-color: #333;

html {
  @include mobile {
    font-size: 100%;
  }
  @include desktop {
    font-size: 75%;
  }
  @include desktop-lg {
    font-size: 100%;
  }
}

body {
  @include color($primary);
  font-size: $font-size;
  font-family:
    'DejaVu Sans',
    system-ui,
    -apple-system,
    sans-serif,
    // 'MHeiHK',
    'Microsoft JhengHei',
    'FZLanTingHei-L-GBK',
    'Noto Sans CJK TC',
    'PingFang HK',
    'Adobe Heiti Std',
    'LiHei Pro';
  line-height: 1.3;
  background-color: white;
}

// utility class with proper dark bg content/link/btn handling
.bg-darkgray {
  @include color(#eee);
  background-color: #262b40;
}
.bg-white {
  background-color: #fff;
}

@mixin darkmode() {
  $parent: #{&};
  @at-root {
    .bg-darkgray {
      #{$parent} { @content; }
    }
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  @include color(#222);
  margin: 0;
  font-weight: normal;
}
h1, .h1 { font-size: rem(26px); }
h2, .h2 { font-size: rem(21px); }
h3, .h3 { font-size: rem(16px); }

.secondary { color: #999; }
.secondary2 { color: #ccc; }

%button {
  border-radius: rem(2px);
  padding: $btn-padding;
  cursor: pointer;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;
  font-size: $font-size;
  /* stylelint-disable-next-line */
  @extend %noselect;
  @include darkmode {
    box-shadow: 2px 3px 8px #000;
    &.disabled {
      color: #bbb;
    }
  }
  &.large {
    padding: $btn-large-padding;
  }
  &:hover {
    text-decoration: none;
  }

  &.disabled {
    color: #bbb;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.btn1 {
  @extend %button;
  @include btn-style(white, $btn1-color);
}

.btn1-danger {
  @extend %button;
  @include btn-style(white, $danger);
}

.btn2 {
  @extend %button;
  color: $primary;
  background-color: transparent;
  box-shadow: none;
  border-color: #ccc;
  @include darkmode {
    color: darken($primary-dark, 10%);

    &:hover {
      color: $primary-dark;
      background-color: lighten($primary, 10%);
    }
  }

  &:hover {
    color: $primary;
    background-color: #f1f1f1;
    border-color: #999;
  }
}

.btn2-danger {
  @extend %button;
  color: red;
  border-color: red;
  background-color: transparent;
  box-shadow: none;
  @include darkmode {
    color: darken($primary-dark, 10%);

    &:hover {
      color: white;
      background-color: $danger;
    }
  }

  &:hover {
    color: red;
    background-color: lighten($danger, 40%);
  }
}

.btn3 {
  @extend %button;
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  color: $primary;
  @include darkmode {
    color: darken($primary-dark, 10%);

    &:hover {
      color: white;
      background-color: lighten($primary, 10%);
    }
  }

  &:hover {
    color: lighten($primary, 5%);
    background-color: lighten($primary, 50%);
  }
}

a,
.btn4 {
  @include color(lighten($primary, 10%));
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  padding: 0;
  text-align: left;
  line-height: unset;
  /* stylelint-disable-next-line */
  @extend %noselect;
  @include darkmode {
    @include color(darken($primary-dark, 20%));

    &:hover {
      @include color($primary-dark);
    }
    &.disabled { color: #aaa; }
  }
  &:not(:hover) { text-decoration: none; }
  &:focus { outline: 0 none; }

  &:hover,
  &.active,
  &.hideshow-current {
    @include color(darken($primary, 10%));
    text-decoration: none;
  }

  &.disabled {
    @include color(#bbb);
    cursor: not-allowed;
    pointer-events: none;
  }

  &.blue {
    @include color(#2c7cb0);
    &.ql-active, //quill
    &:hover,
    &.active,
    &.hideshow-current {
      @include color(#f4a15d);
    }
  }
}

.prompt-header {
  cursor: pointer;

  &:hover {
    background-color: #dcdcdc;
  }
}

input,
select,
textarea {
  font-size: $font-size;
  display: block;
  width: 100%;
  color: #555;
  border: 1px solid #ddd;
  border-radius: rem(1px);
  background-color: white;
  outline: 0;
  &:focus { border-color: #aaa; }
  &::placeholder {
    color: #bbb;
    opacity: 1;
  }
  /* stylelint-disable-next-line */
  &:-ms-input-placeholder { color: #bbb; }
  /* stylelint-disable-next-line */
  &::-ms-input-placeholder { color: #bbb; }
}
textarea {
  padding: rem(10px) rem(12px);
}


input,
select {
  /* stylelint-disable-next-line */
  -webkit-appearance: none;
  /* stylelint-disable-next-line */
  -moz-appearance: none;
  appearance: none;
  height: $input-height;
  padding: rem(6px) rem(12px);
}

.alert {
  @extend .pl2, .py1, .pr1;
  z-index: 99999;
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 0;
  font-size: $font-size;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: transform 500ms;
  background-color: moccasin;

  &.alert-danger {
    background-color: #f79e9e;
  }

  button.close {
    padding: 0 rem(8px);
    margin-left: rem(16px);
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
  }

  &.alert-displayed {
    transform: translate(-50%, 0%);
  }

  &.alert-removed {
    transform: translate(-50%, -100%);
  }
}

/* firefox */
.scroller {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}
/* webkit */
.scroller::-webkit-scrollbar { width: 4px; }
.scroller::-webkit-scrollbar-track { background: transparent; }
.scroller::-webkit-scrollbar-thumb { background: #aaa; }
.scroller::-webkit-scrollbar-thumb:hover { background: #888; }

.centered-page {
  margin: 0 auto;
  width: 100%;
  max-width: 64rem;
}

.color-red { @include color(red); }
.color-green { @include color(green); }

form.slow-form.nav-submitting {
  opacity: 0.5;
  pointer-events: none;
}

.block-border {
  border: 1px solid #ccc;
  border-radius: rem(4px);
}
.config-block {
  @extend .block-border;
  overflow: hidden;
  > div:nth-last-of-type(2) {
    border-right: 1px solid #ccc;
  }
  > div:nth-of-type(2) {
    background-color: #f6f6f6;
  }
}

.highlight {
  @extend .px3;
  @extend .py2;
  background-color: moccasin;
}
.minitabs {
  > .btn4 {
    border: 1px solid #999;
    border-left: 0;
    &:first-of-type {
      border-left: 1px solid #999;
    }
    &:hover {
      background-color: #f1f1f1;
    }
    &.active {
      background-color: #e0e0e0;
      pointer-events: none;
    }
  }
}