//- expose
mixin table-ext-options({stats, options, fields})
  .p2.bg-white(style="min-width: 400px;")
    +p-head
      h2 Table options

    .mt1
      form.nav-skip(data-te-dyna-columns=options.id)
        +grid(columns="1fr 1fr").mt1
          div
            div Items per page
            each count in [15, 30, 50]
              +radio(
                type="radio"
                name="itemsPerPage"
                value=count
                checked=options.itemsPerPage === count
                data-submit-on-change={form:"parent"}
              )= count

          div
            div Columns
            each field in stats.allFields || []
              +checkbox(
                type="checkbox"
                name="columns"
                value=field
                checked=R.includes(field, fields)
                data-submit-on-change={form:"parent"}
              )
                div= titleize(field)

        if options.extraFlags
          .mt2 Extra options
          each val, key in options.extraFlags
            +checkbox(
              type="checkbox"
              name="flags"
              value=key
              checked=val
              data-submit-on-change={form:"parent"}
            )
              div= capitalize(key.replace("_", " "))

        // button.btn1.mt2 Apply
        .pt2

      if options.exportUrl
        .mt2
        a.blue(
          href=options.exportUrl
          target="_blank"
        ) Export as .xlsx
