.table-ext {
  $xpad: rem(24px);

  border: 1px solid #d1d1d1;
  border-radius: rem(4px);
  overflow: hidden;

  .table-header {
    padding-left: $xpad;
    padding-right: $xpad;
  }

  .pagination {
    a {
      &[disabled] {
        color: #999;
        cursor: default;
        svg { fill: #999; }

        &:hover {
          cursor: default;
          text-decoration: none;
        }
      }
    }

    svg {
      margin: rem(-3px) rem(3px) 0;
    }
  }

  .grid-table {
    .cell {
      padding: rem(10px) rem(8px);
      border-top: 1px solid #d1d1d1;

      &[data-col='0'] {
        padding-left: $xpad;
      }
      &[data-last] {
        padding-right: $xpad;
      }
      &.highlight-top-border {
        border-top-color: #7575af;
        box-shadow: 0 -1px 0 #7575af, inset 0 1px 0 #7575af;
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f1f1f1;
      color: #111;
      border-top: 0 none;
      height: rem(32px);
      > div:first-of-type { padding-top: rem(2px); }
    }

    .filter-input {
      padding-top: rem(8px);
      padding-bottom: rem(8px);
      input,
      [data-te-select-filter],
      select {
        font-size: rem(13px);
        height: rem(26px);
        padding-top: rem(5px);
        padding-left: rem(6px);
      }
      [data-te-select-filter] {
        border: 1px solid #ddd;
        cursor: default;
        padding-right: rem(20px);
        white-space: nowrap;
      }
      svg { right: rem(3px) !important; }
      .dummy-input {
        width: 100%;
        height: 100%;
        min-height: rem(26px);
        border: 1px solid #f3f3f3;
      }
    }

    [data-te-sort] {
      cursor: pointer;

      &:hover {
        background-color: #ddd;
      }

      .arrows {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        svg {
          fill: #ccc;
        }

        &.asc {
          svg:first-of-type {
            fill: #000;
          }
        }

        &.desc {
          svg:last-of-type {
            fill: #000;
          }
        }
      }
    }
  }
}