//- expose
mixin teMobileRow(row, idx, fields)
  .px3.pb1
    if idx === 0
      .pt1
    +grid(columns="auto 1fr").gx1
      each k in fields
        .secondary.tright #{titleize(k)}
        if R.endsWith("at", k)
          +colGenericTime({value: row[k]})
        else
          div= row[k]

mixin table-ext(params)
  -
    const {
      table,
      fieldNames={},
      columns={},
      lastColWidth,
      onlyPaging=false,
      noPaging=false,
      gridColumns,
      mobileRow
    } = params
    const {rows, fields, options, stats} = table

  mixin cell(ridx, cidx, isLast)
    .cell(
      data-row=ridx
      data-col=cidx
      data-last=isLast
    )&attributes(attributes)
      block

  mixin tableExtHeader(name, cidx, isLast)
    -
      const dname =
        R.has(name, fieldNames)
        ? fieldNames[name]
        : options.fieldNames && R.has(name, options.fieldNames)
        ? options.fieldNames[name]
        : titleize(name)
    if R.isNil(options.sortable) || R.includes(name, options.sortable)
      +cell(-1, cidx, isLast).header(data-te-sort=name)
        div= dname
        .arrows(class=options.sort[0] === name ? options.sort[1] : false)
          +ssicon("vaadin_up-arrow-4", rem(10))
          +ssicon("vaadin_down-arrow-5", rem(10))
    else
      +cell(-1, cidx, isLast).header
        div= dname

  mixin tableExtFilter(name, cidx, isLast)
    if options.filterable
      +cell(-1, cidx, isLast).filter-input
        - filterType = options.filterable[name] || options.filterable._default
        if filterType === "freetext"
          input(
            data-te-filter=name
            type="text"
            value=options.filters ? options.filters[name] : false
          )
        else if filterType === "select"
          -
            const selected = R.without([""], (R.path(["filters", name], options) || '').split(';'))
            const fopts = stats ? stats.fopts[name] : []
          if fopts.length > 0
            .relative
              +ssicon("arrows1_008-down", rem(18)).sel-arrow
              div(
                data-te-select-filter={
                  name,
                  selected
                }
              )= selected.length === 0 ? "" : selected.length === 1 ? selected[0] : `${selected.length} picked`
          else
            .dummy-input
        else if filterType === "date_range"
          - const fopts = stats ? stats.fopts[name] : []
          input.init-litepicker(
            data-te-filter=name
            readonly
            data-config={
              inline: false,
              dates: fopts,
              resetButton: true,
              singleMode: false,
              destroyOnChanged: true,
              numberOfMonths: 1,
              numberOfColumns: 1
            }
            value=options.filters ? options.filters[name] : false
          )
        else
          .dummy-input

  if block && isMobile
    .pb1
      block

  div(class=onlyPaging ? "flex-r-jfs-ac" : "")
    .table-ext(
      class=noPaging ? "" : "pt2"
      data-id=options.id
      data-fields=fields
      data-options=options
      data-stats=stats
    )
      if noPaging
        if block && !isMobile
          block
      else
        +grid(
          columns="1fr auto"
          align-items="flex-end"
        ).table-header.mb1.pb1
          if block && !isMobile
            block
          else
            div

          .pagination.flex-r-jfe-ac
            - const {startAt=0, endAt=0, count=0} = stats || {}
            .pr1 #{startAt} - #{endAt} of #{count}
            a.px1(
              href="javascript:void(0)"
              data-te-page=options.page - 1
              disabled=options.page === 1
            )
              +ssicon("vaadin_left-arrow-8", rem(12))
              span Prev
            a.pl1(
              href="javascript:void(0)"
              data-te-page=options.page + 1
              disabled=!stats || stats.endAt === stats.count
            ) Next
              +ssicon("vaadin_right-arrow-8", rem(12))
            if !onlyPaging && rows.length > 0 && options.noSettings !== true
              button.btn4.ml2.flex-r-jfs-ac(
                data-te-options
              )
                +ssicon("interface-45_settings", rem(16))

      unless onlyPaging
        div(
          style="overflow: hidden; background-color: white;"
        )
          - const totalCols = fields.length
          - const _gridColumns = gridColumns || `repeat(${totalCols - 1}, auto) ${lastColWidth || 'auto'}`
          - const fsClass = totalCols > 7 ? "fs75p" : ""
          +grid(
            columns=_gridColumns
            class=fsClass
          ).grid-table.oxa

            each field, cidx in fields
              +tableExtHeader(field, cidx, cidx === totalCols - 1)

            each field, cidx in fields
              +tableExtFilter(field, cidx, cidx === totalCols - 1)

            each row, ridx in rows
              each field, cidx in fields
                - const value = row[field];
                +cell(ridx, cidx, cidx === totalCols - 1)
                  if (columns && R.has(field, columns))
                    +#{columns[field]}({row, value, options})
                  else
                    if R.is(Array, value)
                      each v in value
                        div= v
                    else if R.is(Object, value)
                      each v, k in value
                        div #{k}: #{v}
                    else if options.highlight
                      - const hlRule = R.find(hl => hl.key === field && hl.value === value, options.highlight)
                      if hlRule
                        div(style=`color: ${hlRule.color}`)= value
                      else
                        div= value
                    else
                      div= value

  if isMobile && mobileRow && !R.isEmpty(table.rows)
    .flex-c-jfs-as.mt2(style="border: 1px solid #ccc; border-radius: 4px")
      each row, idx in table.rows
        +#{mobileRow}(row, idx, fields)
